@{
    Layout = null;
}
@using TECOCITY_BGOI
<!DOCTYPE html>
@model tk_SalesGrid
<html>
<head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
    <title>InternalManage</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Sales/InternalManage.js")" type="text/javascript"></script>
</head>
@{
    string UnitID = GAccount.GetAccountInfo().UnitID;
    string Rights = GAccount.GetAccountInfo().Rights;
}
<body>
    @using (Html.BeginForm("SalesRetailManage", "SalesRetail", FormMethod.Post, new { id = "GForm" }))
    {
        <div id="pageContent">
            <div class="mainHead">
                @Html.Hidden("hdOp", @ViewData["op"])
                <img src="../images/house.png" class="house" />&nbsp;&nbsp;&nbsp;&nbsp;当前位置>><span style="color: #000099;">项目产品业务</span>>>项目审批管理>><span id="SpTitle">项目管理</span>
            </div>
            <div>
                <fieldset style="background-color: white;">
                    <legend></legend>
                    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin-bottom: 5px; margin-left: 5px; margin-right: 5px; margin-top: 5px;">
                        <tr>
                            <td>项目名称</td>
                            <td>@Html.TextBoxFor(model => model.PlanName, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.PlanName)</td>
                            <td>工程编号</td>
                            <td>@Html.TextBoxFor(model => model.PlanID, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.PlanID)</td>
                            <td>备案内容</td>
                            <td>@Html.TextBoxFor(model => model.MainContent, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.MainContent)</td>
                        </tr>
                        <tr>
                            <td>规格型号</td>
                            <td>@Html.DropDownList("SpecsModels", SalesManage.ListItem())</td>
                            <td>所属区域</td>
                            <td>@Html.DropDownList("BelongArea", SalesManage.GetBelongArea())</td>
                            <td>日期</td>
                            <td>
                                @Html.TextBoxFor(model => model.StartDate, new { onclick = "WdatePicker({dateFmt: 'yyyy-MM-dd' })", @class = "txtCss" })@Html.ValidationMessageFor(model => model.StartDate) -  @Html.TextBoxFor(model => model.EndDate, new { onclick = "WdatePicker({dateFmt: 'yyyy-MM-dd' })", @class = "txtCss" }) @Html.ValidationMessageFor(model => model.EndDate)
                                @*@Html.TextBox("StartDate")~@Html.TextBox("EndDate")*@
                                @*<input type="text" id="StartDate" onclick="WdatePicker()" class="Wdate" style="width:170px;" />~
                                    <input type="text" id="EndDate" onclick="WdatePicker()" class="Wdate" style="width:170px;" />*@
                            </td>
                        </tr>
                        <tr>
                            <td>负责人</td>
                            <td>@Html.TextBoxFor(model => model.Manager, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.Manager)</td>
                            <td colspan="5">
                                进度&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("State", "0")全部&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("State", "1")备案&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("State", "2")已报价&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("State", "3")已签订合同&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("State", "4")已发货&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                回款状态&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("HState", "0")未回款&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("HState", "1")已回款
                                <input type="button" class="btn" id="btnSearch" style="float: right; margin-right: 10px;" value="查  询" onclick="SearchOut()" />
                            </td>

                        </tr>

                    </table>
                </fieldset>
            </div>
            <div style="background-color: white; height: 36px; padding-top: 5px; margin-left: 5px;">
                @if (Rights.IndexOf(",Y13,") >= 0)
                {
                    <input type="button" class="btn" id="btnRecord" value="内购申请" />}&nbsp;&nbsp;&nbsp;
                @if (Rights.IndexOf(",Y14,") >= 0)
                {<input type="button" class="btn" id="btnUpdate" value="修  改" />}&nbsp;&nbsp;&nbsp;@if (Rights.IndexOf(",Y15,") >= 0)
                {<input type="button" class="btn" id="btnCancel" value="撤  销" />}
                &nbsp;&nbsp;&nbsp;
                <input type="button" class="btn" style="float: right; margin-right: 15px;" id="btnSP" value="提交审批" />
            </div>
            <div id="bor" style="width: 100%; margin-top: 5px; margin-left: 5px;">
                <table cellpadding="0" cellspacing="0" border="0" id="list" class="scroll" style="width: 100%;"></table>
                <div id="pager" class="scroll" style="text-align: center; width: 100%;"></div>
            </div>
            <div style="margin-top: 3px; margin-left: 10px;">
                <input type="button" id="btnDetail" class="btnTw" style="margin-left: 10px;" value="物品详细" />
            </div>
            <div id="div1" style="border: 1px solid #707070; margin-left: 10px;">
                <div id="bor1" style="width: 100%; margin-top: 3px; margin-left: 10px;"></div>
                <table class="scroll" style="width: 100%;" id="loadlist"></table>
                <div id="pager1" class="scroll" style="text-align: center; width: 100%;"></div>
            </div>
        </div>
    }
</body>
</html>
