@{
    ViewBag.Title = "OfferBill";
}
@using TECOCITY_BGOI;
@model Offer
<!DOCTYPE html>
<html>
<head>
    <title>RecordManage</title>
    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Sales/OfferBill.js")" type="text/javascript"></script>
    <style>
        .RowClass {
            background-color: #efd2d2;
        }
    </style>
</head>
<body>
    <form id="form1" method="post">
        <div id="tabTitile"><span style="margin-left: 10px; float: left;">报价编号：@Model.BJID</span></div>@Html.HiddenFor(model => Model.BJID)
        <div id="bor" style="height: 545px; overflow-y:auto;">
            <table class="tabInfo" style="width:750px; margin-left: 8px; margin-top: 10px;">
                <tr style="text-align:center ;font :bold ;margin-top:20px;font-size:24px;">
                    <td colspan="6">报价详细</td>
                </tr>
                <tr>
                    <td>   备案编号：</td><td>@Model.PID</td>
                    <td>   报价标题:</td><td> @Model.OfferTitle</td>
                    <td>   报价日期:</td> <td>@Model.OfferTime</td>
                </tr>
                <tr> 
                  <td>合同条件</td>
                 <td>@Model.FKYD</td>
                 <td>报价金额</td>
                 <td >@Model.Total</td>
                  <td>询价说明</td><td> @Model.Description</td></tr>
                <tr>  <td>报价人</td><td colspan="5"> @Model.OfferContacts</td></tr>
                <tr>
                    <td colspan="6">   报价物品</td>
                </tr>
                <tr>
                    <td colspan="6">
                        <div style="overflow-y: scroll;">
                            <table id="myTable" cellpadding="0" cellspacing="0" class="tabInfo"></table>
                            <div id="pager1" class="scroll" style="text-align: center; width: 100%;"></div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="text-align :center" colspan="6">
                        <input type="button" class="btn" id="btnExit" value="取消" />
                    </td>
                </tr>
            </table>
        </div>
    </form>
</body>
</html>


