@{
    ViewBag.Title = "OrderInfoManage";
}
@using TECOCITY_BGOI
@model tk_SalesGrid
<!DOCTYPE html>
<html>
<head>
    <title>RecordManage</title>
    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Sales/OrderInfoManage.js")" type="text/javascript"></script>
</head>
@{
    string UnitID = GAccount.GetAccountInfo().UnitID;
    string Rights = GAccount.GetAccountInfo().Rights;
}


<body>
    @using (Html.BeginForm("OrderInfoToExcel", "SalesManage", FormMethod.Post, new { id = "GForm" }))
    {
        @Html.Hidden("webkey", @ViewData["webkey"])   @Html.Hidden("folderBack", @ViewData["folderBack"]) @Html.Hidden("Nostate", @ViewData["Nostate"])
        <div id="pageContent">
            <div class="mainHead">
                <img src="../images/house.png" class="house" />&nbsp;&nbsp;&nbsp;&nbsp;当前位置>><span style="color: #000099;">项目产品业务</span>>><span>订单管理</span>
            </div>
        </div>
        <div>
            <fieldset style="background-color: white;">
                <legend></legend>
                <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin-bottom: 5px; margin-left: 5px; margin-right: 5px; margin-top: 5px;">
                    <tr>
                        <td>合同编号</td>
                        <td>@Html.TextBoxFor(model => model.ContractID, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.ContractID)</td>
                        <td>订单单位</td>
                        <td>@Html.TextBoxFor(model => model.OrderUnit, new { @class = "txtCss" }) @*@Html.ValidationMessageFor(model => model.OrderUnit)*@</td>

                    </tr>
                    <tr>
                        <td>使用单位</td>
                        <td>@Html.TextBoxFor(model => model.UseUnit, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.UseUnit)</td>
                        @*<td>订货内容</td>
                            <td>@Html.TextBoxFor(model => model.MainContent, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.MainContent)</td>*@
                        <td>交货日期</td>
                        <td>
                            @Html.TextBoxFor(model => model.StartDate, new { onclick = "WdatePicker({dateFmt: 'yyyy-MM-dd' })", @class = "txtCss", @readonly = "readonly" })@Html.ValidationMessageFor(model => model.StartDate) -  @Html.TextBoxFor(model => model.EndDate, new { onclick = "WdatePicker({dateFmt: 'yyyy-MM-dd' })", @class = "txtCss", @readonly = "readonly" }) @Html.ValidationMessageFor(model => model.EndDate)
                            @*<input type="text" id="StartDate" onclick="WdatePicker()" class="Wdate" style="width:170px;" />~
                                <input type="text" id="EndDate" onclick="WdatePicker()" class="Wdate" style="width:170px;" />*@
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5">
                            状态&nbsp;&nbsp;&nbsp;&nbsp;
                            @*// 0-新建，-1-撤销，1-审批中，2-审批通过，3-已发货（全部），4-已回款，5-已结算（完成）*@
                            @Html.RadioButton("State", "y", new { @checked = true })全部&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButton("State", "0")新建&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButton("State", "-1")审批不通过&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButton("State", "1")审批中&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButton("State", "2")审批通过&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButton("State", "3")已发货(全部)&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButton("State", "4")已回款&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButton("State", "5")已结算(完成)&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButton("State", "20")订单修改审批中&nbsp;&nbsp;&nbsp;&nbsp;
                            @Html.RadioButton("State", "21")订单修改审批完成&nbsp;&nbsp;&nbsp;&nbsp;
                            @*@Html.RadioButton("State", "1")未发货&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("State", "2")已发货&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("State", "3")已到货&nbsp;&nbsp;&nbsp;&nbsp;*@

                            @*是否付款&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("HState", "n")未付款&nbsp;&nbsp;&nbsp;&nbsp;
                                @Html.RadioButton("HState", "y")已付款*@
                            <input type="button" class="btn" id="btnSearch" style="float: right; margin-right: 10px;" value="查  询" onclick="LoadSerachOrderInfo()" />


                        </td>

                    </tr>
                </table>
            </fieldset>
        </div>
        <div style="background-color: white;  height: 50px; padding-top: 5px; margin-left: 5px;">
            <div style="background-color: white;  height: 25px; padding-top: 5px; margin-left: 5px;">
                @if (Rights.IndexOf(",Y13,") >= 0)
                {
                    <input type="button" class="btn" id="btnAddOrdersInfo" value="新增订货单" />
                    <input type="button" class="btn" id="btnAddOrdersInfoF" value="非标订单" />}
                <input type="button" class="btn" id="UploadContract" value="上传合同" />
                @if (Rights.IndexOf(",Y15,") >= 0)
                {
                    <input type="button" class="btn" id="btnCancel" value="撤销" />}
                <input type="button" class="btn" id="btnSP" value="提交审批" />
                <input type="button" class="btn" id="btnShipments" value="发  货" />
                <input type="button" class="btn" id="btnReceivePayment" value="回款" />
                <input type="button" class="btn" id="btnJS" value="结算" />
                <input type="button" class="btn" id="btnEXC" value="退货" />
                <input type="button" class="btn" id="btnExchange" value="换货" />
                @if (Rights.IndexOf(",Y14,") >= 0)
                {            <input type="button" class="btn" id="btnUPOrder" value="订单修改" />}
                @*<input type="button" class="btn" id="UploadFile" value="上传附件" />*@
                <input type="button" class="btn" id="PrintOrderInfo" value="打  印" /> @*style="float: right; margin-right: 100px;"*@
                <input type="submit" class="btn" id="btnDetail" value="导出" />
            </div>
            @*<div style="background-color: white;  height: 25px; padding-top: 5px; margin-left: 5px;">
                   @*style="float: right; margin-right:5px;"
                </div>*@
        </div>
        <div id="bor" style="width: 100%; margin-top: 5px; margin-left: 5px;">
            <table cellpadding="0" cellspacing="0" border="0" id="list" class="scroll" style="width: 100%;"></table>
            @*<div id="pager" class="scroll" style="text-align: center; width: 100%;"></div>*@
            <div id="pager0" class="scroll" style="text-align: center; width: 100%;"></div>
        </div>
        <div>
            <input type="button" value="产品详细" id="DetailXX" class="btnTw" />
            <input type="button" value="相关单据" id="BillXX" class="btnTh" />
            <input type="button" id="QQJQdiv" value="审批情况信息" class="btnTh" />
            <input type="button" id="THJL" value="退货记录" class="btnTh" />
            <input type="button" id="HTXX" value="合同信息" class="btnTh" />
            @*<input type="button" id="FJXX" value="附件信息" class="btnTh" />*@
            <input type="button" id="RZXX" value="操作日志" class="btnTh" />
            <div id="CPXX" style="border: 1px solid #707070; margin-left: 10px;">
                <div id="div1" style="width: 100%; margin-left: 5px;">
                    <table cellpadding=" 0" cellspacing="0" border="0" id="Detaillist" class="scroll" style="width: 100%;"></table>
                    <div id="pager1" class="scroll" style="text-align: center; width: 100%;"></div>
                </div>
            </div>
            <div id="div2" style="width: 100%; margin-left: 5px;">
                <table cellpadding=" 0" cellspacing="0" border="0" id="Billlist" class="scroll" style="width: 100%;">
                    <tr id="trth">
                        <th style="width: 5%;" class="th">描述</th>
                        <th style="width: 5%;" class="th">编号</th>
                        <th style="width: 5%;" class="th">操作</th>
                        @*<th style="width: 5%;" class="th"></th>
                            <th style="width: 5%;" class="th"></th>
                            <th style="width: 5%;" class="th"></th>*@
                    </tr>
                    <tbody id="ReceiveBill"></tbody>
                </table>
                <div id="pager2" class="scroll" style="text-align: center; width: 100%;"></div>
            </div>
            <div id="QQ" style="border: 1px solid #707070; margin-left: 10px;">
                <div id="bor1" style="width: 100%; margin-top: 5px; margin-left: 10px;">
                    <table id="list1" class="scroll" style="width: 100%;"></table>
                    <div id="pager3" class="scroll" style="text-align: center; width: 100%;"></div>
                </div>
            </div>
            <div id="THDIV" style="border: 1px solid #707070; margin-left: 10px;">
                <div id="bor1" style="width: 100%; margin-top: 5px; margin-left: 10px;">
                    <table id="list2" class="scroll" style="width: 100%;"></table>
                    <div id="pager7" class="scroll" style="text-align: center; width: 100%;"></div>
                </div>
            </div>
            <div id="HTXXDIV">
                <div id="bor1" style="width: 100%; margin-top: 5px; margin-left: 10px;">
                    <table id="HTXXlist" class="scroll" style="width: 100%;"></table>
                    <div id="pager4" class="scroll" style="text-align: center; width: 100%;"></div>
                </div>

            </div>
            @*<div id="FJXXDIV">
                    <div id="bor1" style="width: 100%; margin-top: 5px; margin-left: 10px;">
                        <table id="FJXXlist" class="scroll" style="width: 100%;"></table>
                        <div id="pager5" class="scroll" style="text-align: center; width: 100%;"></div>
                    </div>

                </div>*@
            <div id="RZDIV">
                <div id="bor1" style="width: 100%; margin-top: 5px; margin-left: 10px;">
                    <table id="RZlist" class="scroll" style="width: 100%;"></table>
                    <div id="pager6" class="scroll" style="text-align: center; width: 100%;"></div>
                </div>

            </div>
        </div>
    }
</body>
</html>
