@{
    Layout = null;
}
@using TECOCITY_BGOI;
@model tk_WorkCard

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailWorkCard</title>

    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Table_Fix.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TableMergeCell.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FlowMeterManage/DetailWorkCard.js")" type="text/javascript"></script>
</head>
<body>
    <div id="pageContent" style="overflow-y:auto;">
       <div style="width:98%;margin-left:10px;margin-top:5px;">
           <table class="tabInfo" id="content" style="text-align:center;">
               @Html.HiddenFor(model=>model.strRID)
               <tr> 
                    <td colspan="8" style="text-align:center; font-size:20px; font-weight:bold;">流量计维修随工单</td>
                </tr>
               <tr>
                   <td class="textRightL" colspan="8" style=" text-align:left; height:25px;">基本信息</td>
               </tr>
               <tr>

               </tr>
               <tr>
                    <td class="textLeftL" colspan="2">维修员</td>
                    <td class="textRightL">@Model.strRepairUser</td>
                    <td class="textLeftL">检测员</td>
                    <td class="textRightL">@Model.strCheckUser</td>
                    <td class="textLeftL">维修日期</td>
                    <td class="textRightL" colspan="2">@Model.strRepairDate</td>
                </tr>

                <tr>
                    <td class="textLeftL" colspan="2">进厂检测结果</td>
                    <td class="textRightL">Qmin=@Model.strI_Qmin</td>
                    <td class="textRightL">0.2Qmax=@Model.strI_2Qmax</td>
                    <td class="textRightL" colspan="2">0.4Qmax=@Model.strI_4Qmax</td>
                    <td class="textRightL" colspan="2">Qmax=@Model.strI_Qmax</td>
                </tr>

                <tr>
                    <td class="textLeftL" colspan="2">进厂重复性</td>
                    <td class="textRightL">@Model.strI_Repeat1</td>
                    <td class="textRightL">@Model.strI_Repeat2</td>
                    <td class="textRightL" colspan="2">@Model.strI_Repeat3</td>
                    <td class="textRightL" colspan="2">@Model.strI_Repeat4</td>
                </tr>

                <tr>
                    <td class="textLeftL" colspan="2">拆卸过程故障说明</td>
                    <td class="textRightL" colspan="6">@Model.strDescripComments </td>
                </tr>
                
                <tr>
                    <td colspan="2" rowspan="2" class="textRightL">
                        <div id="YS" style="display:none;">维修意见相同 □</div>
                        <div id="YD" style="display:none;">维修意见相同 ☑</div>
                        @Html.HiddenFor(model=>model.strIsRepairY)
                    </td>
                    <td colspan="2" rowspan="2" class="textRightL">
                        <div id="YC1" style="display:none;">更换备件 □</div>
                        <div id="YC2" style="display:none;">更换备件 ☑</div>
                        @Html.HiddenFor(model=>model.strYChangeBak)
                    </td>
                    <td colspan="2" rowspan="2" class="textRightL">
                        <div id="YU1" style="display:none;">未更换备件 □</div>
                        <div id="YU2" style="display:none;">未更换备件 ☑</div>
                        @Html.HiddenFor(model=>model.strYUnChangeBak)
                    </td>
                    <td class="textLeftL">总检验</td>
                    <td class="textRightL">@Model.strTotalCheck</td>
                </tr>

                <tr>
                    <td class="textLeftL">维修组</td>
                    <td class="textRightL">@Model.strRepairGroup</td>
                </tr>

                <tr>
                    <td colspan="2" rowspan="2" class="textRightL">
                        <div id="NS" style="display:none;">维修意见不相同 □</div>
                        <div id="ND" style="display:none;">维修意见不相同 ☑</div>
                         @Html.HiddenFor(model=>model.strIsRepairN)
                    </td>
                    <td colspan="2" rowspan="2" class="textRightL">
                        <div id="NC1" style="display:none;">更换备件 □</div>
                        <div id="NC2" style="display:none;">更换备件 ☑</div>
                         @Html.HiddenFor(model=>model.strNChangeBak)
                    </td>
                    <td colspan="2" rowspan="2" class="textRightL">
                        <div id="NU1" style="display:none;">未更换备件 □</div>
                        <div id="NU2" style="display:none;">未更换备件 ☑</div>
                         @Html.HiddenFor(model=>model.strNUnChangeBak)
                    </td>
                    <td class="textLeftL">总检验</td>
                    <td class="textRightL">@Model.strTotalCheck2</td>
                </tr>
                
                <tr>
                    <td class="textLeftL">维修组</td>
                    <td class="textRightL">@Model.strRepairGroup2</td>
                </tr>

                <tr style="height:25px;">
                    <td class="textRightL" colspan="8" style="text-align:left;">出厂测试</td>
                </tr>

                <tbody class="tabInfo" id="CheckItems">

                </tbody>

                <tr>
                    <td class="textLeftL" colspan="2">出厂检测结果</td>
                    <td class="textRightL">Qmin=@Model.strO_Qmin</td>
                    <td class="textRightL">0.2Qmax=@Model.strO_2Qmax</td>
                    <td class="textRightL" colspan="2">0.4Qmax=@Model.strO_4Qmax</td>
                    <td class="textRightL" colspan="2">Qmax=@Model.strO_Qmax</td>
                </tr>

                <tr>
                    <td class="textLeftL" colspan="2">出厂重复性</td>
                    <td class="textRightL">@Model.strO_Repeat1</td>
                    <td class="textRightL">@Model.strO_Repeat2</td>
                    <td class="textRightL" colspan="2">@Model.strO_Repeat3</td>
                    <td class="textRightL" colspan="2">@Model.strO_Repeat4</td>
                </tr>
                

                <tbody class="tabInfo" id="ChangeBak">

                </tbody>


                <tr>
                    <td class="textLeftL" colspan="2">维修人员(章)</td>
                    <td class="textRightL">@Model.strRepairPerson</td>
                    <td class="textLeftL" colspan="2">库管出库(章)</td>
                    <td class="textRightL">@Model.strStockOut</td>
                    <td class="textLeftL">出厂检测(章)</td>
                    <td class="textRightL">@Model.strOutCheck</td>
                </tr>
                
                <tr>
                    <td class="textLeftL" colspan="2">打压合格(章)</td>
                    <td class="textRightL">@Model.strPressHege</td>
                    <td class="textLeftL" colspan="2">总检验(章)</td>
                    <td class="textRightL">@Model.strMainCheck</td>
                    <td class="textLeftL">检测合格日期</td>
                    <td class="textRightL">@Model.strO_Date</td>
                </tr>

                    @Html.Hidden("HTitle")
                    @Html.Hidden("HChecked")
           
            </table>
           <br /><br />
        </div>
        
    </div>
</body>
</html>
