@{
    Layout = null;
}
@using TECOCITY_BGOI;
@model RepairCard
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DetailCard</title>

    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Table_Fix.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/TableMergeCell.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FlowMeterManage/DetailCard.js")" type="text/javascript"></script>
</head>
<body>
    <div id="pageContent" style="overflow-y: auto;">
        <div style="width: 98%; margin-left: 10px; margin-top: 5px;">
            <table class="tabInfo" id="content" style="text-align: center;">
                <tr>
                    <td colspan="4" style="text-align: center; font-size: 20px; font-weight: bold;">流量计维修登记卡</td>
                </tr>
                <tr>
                    <td class="textRightL" colspan="4" style="text-align: left; height: 25px;">基本信息</td>
                </tr>
                <tr>
                    @Html.Hidden("RID", ViewData["RID"])
                    <td class="textLeftL">维修编号</td>
                    <td class="textRightL">@Model.strRepairID</td>
                    <td class="textLeftL">客户名称</td>
                    <td class="textRightL">@Model.strCustomerName</td>
                </tr>
                <tr>
                    <td class="textLeftL">客户地址</td>
                    <td class="textRightL">@Model.strCustomerAddr</td>
                    <td class="textLeftL">送表人/物流单位</td>
                    <td class="textRightL">@Model.strS_Name</td>
                </tr>
                <tr>
                    <td class="textLeftL">联系电话</td>
                    <td class="textRightL">@Model.strS_Tel</td>
                    <td class="textLeftL">送表日期</td>
                    <td class="textRightL">@Model.strS_Date</td>
                </tr>
                <tr>
                    <td class="textLeftL">隶属单位</td>
                    <td class="textRightL">@Model.strSubUnit</td>
                    <td class="textLeftL">仪表类型</td>
                    <td class="textRightL">@ViewData["Type"]</td>
                </tr>
                <tr>
                    <td class="textLeftL">仪表编号</td>
                    <td class="textRightL">@Model.strMeterID</td>
                    <td class="textLeftL">仪表名称</td>
                    <td class="textRightL">@Model.strMeterName</td>
                </tr>
                <tr>
                    <td class="textLeftL">证书编号</td>
                    <td class="textRightL">@Model.strCertifID</td>
                    <td class="textLeftL">生产厂家</td>
                    <td class="textRightL">@Model.strManufacturer</td>
                </tr>
                <tr>
                    <td class="textLeftL">精度等级</td>
                    <td class="textRightL">@Model.strPrecision</td>
                    <td class="textLeftL">仪表型号</td>
                    <td class="textRightL">@ViewData["Model"]</td>
                </tr>
                <tr>
                    <td class="textLeftL">出厂日期</td>
                    <td class="textRightL">@Model.strFactoryDate</td>
                    <td class="textLeftL">字轮读数</td>
                    <td class="textRightL">@Model.strRecordNum</td>
                </tr>
                <tr>
                    <td class="textLeftL">流量范围</td>
                    <td class="textRightL">@Model.strFlowRange</td>
                    <td class="textLeftL">承压等级</td>
                    <td class="textRightL">@Model.strPressure</td>
                </tr>
                <tr>
                    <td class="textLeftL">口径DN</td>
                    <td class="textRightL">@Model.strCaliber</td>
                    <td class="textLeftL">仪表性质</td>
                    <td class="textRightL">@ViewData["ModelProperty"]</td>
                </tr>
                <tr>
                    <td class="textLeftL">基表原使用单位/安装地点</td>
                    <td class="textRightL" colspan="3" style="text-align: left;">@Model.strPreUnit</td>
                </tr>
                <tr>
                    <td class="textLeftL">基表现使用单位/安装地点</td>
                    <td class="textRightL" colspan="3" style="text-align: left;">@Model.strNewUnit</td>
                    <tr>
                        <td class="textLeftL">修正仪编号</td>
                        <td class="textRightL">@Model.strX_ID</td>
                        <td class="textLeftL">修正仪型号</td>
                        <td class="textRightL">@ViewData["X_Model"]</td>
                    </tr>
                <tr>
                    <td class="textLeftL">证书编号</td>
                    <td class="textRightL">@Model.strX_CertifID</td>
                    <td class="textLeftL">生产厂家</td>
                    <td class="textRightL">@Model.strX_Manufacturer</td>
                </tr>
                <tr>
                    <td class="textLeftL">标况累积</td>
                    <td class="textRightL">@Model.strX_Standard</td>
                    <td class="textLeftL">工况累积</td>
                    <td class="textRightL">@Model.strX_Operating</td>
                </tr>
                <tr>
                    <td class="textLeftL">生产日期</td>
                    <td class="textRightL">@Model.strX_FactoryDate</td>
                    <td class="textLeftL">压力</td>
                    <td class="textRightL">@Model.strX_Pressure</td>
                </tr>
                <tr>
                    <td class="textLeftL">温度</td>
                    <td class="textRightL">@Model.strX_Temperature</td>
                    <td class="textLeftL">其他数据</td>
                    <td class="textRightL">@Model.strX_Data</td>
                </tr>
                <tr>
                    <td class="textLeftL">修正仪原使用单位/安装地点</td>
                    <td class="textRightL" colspan="3" style="text-align: left;">@Model.strX_PreUnit</td>
                </tr>
                <tr>
                    <td class="textLeftL">修正仪现使用单位/安装地点</td>
                    <td class="textRightL" colspan="3" style="text-align: left;">@Model.strX_NewUnit</td>
                </tr>
                <tr>
                    <td class="textLeftL">进厂检验员</td>
                    <td class="textRightL">@Model.strCheckUser</td>
                    <td class="textLeftL">是否确认维修</td>
                    <td class="textRightL">@ViewData["IsRepair"]</td>
                </tr>
                <tr>
                    <td class="textLeftL">确认用户</td>
                    <td class="textRightL">@Model.strConfirmUser</td>
                    <td class="textLeftL">确认时间</td>
                    <td class="textRightL">@Model.strConfirmDate</td>
                </tr>
                <tr>
                    <td class="textRightL" colspan="4" style="text-align: left; height: 25px;">仪表检查项目</td>
                </tr>
                <tr>
                    <td class="textLeftL">是否外部送检</td>
                    <td class="textRightL">@ViewData["IsOut"]</td>
                    <td class="textLeftL">第三方检测单位</td>
                    <td class="textRightL">@Model.strOutUnit</td>
                </tr>
                <tbody class="tabInfo" id="CheckItems">
                </tbody>

                <tr>
                    <td class="textLeftL">外观检查其他项</td>
                    <td class="textRightL">@Model.strFaceOther</td>
                    <td class="textLeftL">维修内容</td>
                    <td class="textRightL">@Model.strRepairContent</td>
                </tr>
                <tr>@Html.Hidden("HideType",ViewData["GetTypeModel"])
                    <td class="textLeftL">取表方式</td>
                    <td class="textRightL">@ViewData["GetTypeModel"]</td>
                    <td class="textLeftL">取表日期</td>
                    <td class="textRightL">@Model.strG_Date</td>
                </tr>
                <tr style="display: none;" id="Logistic">
                    <td class="textLeftL">物流信息</td>
                    <td colspan="3" class="textRightL">@Model.strLogistic</td>
                </tr>
                <tr style="display: none;" id="UserInfo">
                    <td class="textLeftL">取表人</td>
                    <td class="textRightL">@Model.strG_Name</td>
                    <td class="textLeftL">联系电话</td>
                    <td class="textRightL">@Model.strG_Tel</td>
                </tr>
                <tr>
                    <td class="textLeftL">完成时间</td>
                    <td class="textRightL" colspan="3">@Model.strFinishDate</td>
                </tr>
                <tr>
                    <td class="textLeftL">备注</td>
                    <td class="textRightL" colspan="3" style="text-align: left;">@Model.strText</td>
                </tr>
                @Html.Hidden("State", ViewData["State"])
                @Html.Hidden("HTitle")
                @Html.Hidden("HChecked")
            </table>
        </div>

        <div style="width: 98%; margin-left: 10px; margin-top: 5px; height: 300px; overflow-y: auto;">
            <table class="tabInfoO" id="operateLog">
                <thead>
                    <tr>
                        <td colspan="6" style="text-align: left; height: 25px;">操作历史记录</td>
                    </tr>
                    <tr style="text-align: center; height: 25px; background-color: #f1f1f1;">
                        <td>序号</td>
                        <td>操作标题</td>
                        <td>操作记录</td>
                        <td>操作时间</td>
                        <td>操作人</td>
                    </tr>
                </thead>
                <tbody id="OperateList" class="tabInfoO" style="height: 200px;">
                </tbody>

            </table>
            <br />
            <br />
        </div>

    </div>
</body>
</html>
