@{
    Layout = null;
}
@using TECOCITY_BGOI;
@model tk_WorkCardUT

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintWorkCardUT</title>

    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Print.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cmm_PrintPageSet.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FlowMeterManage/PrintWorkCardUT.js")" type="text/javascript"></script>
</head>
<body style="margin: 0 0 0 0; background-color: white; overflow: auto;">
    <div id="pageContent" style="margin-left: 2px; margin-right: 2px; margin-top: 2px;">

        <div id="ReportContent" style="margin-top: 10px; page-break-after: always;">
            <div style="width: 100%; text-align: center; font-size: 18px;">北京公用事业科技发展公司</div>
            <div style="font-size: 22px; font-weight: bold; float: left; margin-left: 37%;">流量计维修随工单</div>
            <div style="margin-left: 73%; float: left;">维修编号：@ViewData["RepairID"]</div>
            <table id="search" class="tabInfoWork">
                @Html.HiddenFor(model => model.strRID)
                <tr style="height: 30px;">
                    <td>流量计编号</td>
                    <td style="text-align: left;" colspan="2">@ViewData["RepairID"]</td>
                    <td>流量计型号</td>
                    <td style="text-align: left;" colspan="2">@ViewData["Model"]</td>
                    <td>维修人员</td>
                    <td style="text-align: left;">@Model.strRepairUser</td>
                </tr>
                <tr style="height: 30px;">
                    <td colspan="2">维修前是否检测</td>
                    <td colspan="2" style="text-align: left;">@Model.strIsCheck</td>
                    <td>检测结果</td>
                    <td colspan="3" style="text-align: left;">@Model.strCheckResult</td>
                </tr>
                <tr style="height: 30px;">
                    <td colspan="8">维修内容</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="width: 10px;" rowspan="4">电路板维修</td>
                    <td colspan="4">更换电路板</td>
                    <td colspan="3">调整参数</td>
                </tr>
                <tr style="height: 30px;">
                    <td></td>
                    <td>原电路板</td>
                    <td>新电路板</td>
                    <td>更换位置</td>
                    <td></td>
                    <td>原配置</td>
                    <td>新配置</td>
                </tr>
                <tr style="height: 30px;">
                    <td>编号</td>
                    <td>@Model.strCirNum</td>
                    <td>@Model.strNewCirNum</td>
                    <td rowspan="2">上层 @Html.RadioButton("ChangePlace", 0)
                        下层 @Html.RadioButton("ChangePlace", 1)
                        整体 @Html.RadioButton("ChangePlace", 2)
                    </td>@Html.Hidden("StrChangePlace")
                    <td>版本</td>
                    <td>@Model.strCirVersion</td>
                    <td>@Model.strNewCirVersion</td>
                </tr>
                <tr style="height: 30px;">
                    <td>版本</td>
                    <td>@Model.strCirVersion</td>
                    <td>@Model.strNewCirVersion</td>
                    <td>参数</td>
                    <td>@Model.strPreData</td>
                    <td>@Model.strNewData</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="width: 10px;" rowspan="13">超声波探头维修</td>
                    <td colspan="7">更换探头</td>
                </tr>
                <tr style="height: 30px;">
                    <td></td>
                    <td>位置</td>
                    <td>编号</td>
                    <td>更换后测试</td>
                    <td>位置</td>
                    <td>编号</td>
                    <td>更换后测试</td>
                </tr>
                <tr style="height: 30px;">
                    <td>原探头</td>
                    <td>@Model.strProbePlace1</td>
                    <td>@Model.strProbeID1</td>
                    <td rowspan="2">
                        @Html.RadioButton("Check1", 0) 合格 
                        @Html.RadioButton("Check1", 1) 不合格
                    </td>@Html.Hidden("StrCheck1")
                    <td>@Model.strProbePlace2</td>
                    <td>@Model.strProbeID2</td>
                    <td rowspan="2">
                        @Html.RadioButton("Check2", 0) 合格 
                        @Html.RadioButton("Check2", 1) 不合格
                    </td>@Html.Hidden("StrCheck2")
                </tr>
                <tr style="height: 30px;">
                    <td>新探头</td>
                    <td>@Model.strNewProbePlace1</td>
                    <td>@Model.strNewProbeID1</td>
                    <td>@Model.strNewProbePlace2</td>
                    <td>@Model.strNewProbeID2</td>
                </tr>
                <tr style="height: 5px;">
                    <td colspan="7"></td>
                </tr>
                <tr style="height: 30px;">
                    <td>原探头</td>
                    <td>@Model.strProbePlace3</td>
                    <td>@Model.strProbeID3</td>
                    <td rowspan="2">
                        @Html.RadioButton("Check3", 0) 合格 
                        @Html.RadioButton("Check3", 1) 不合格
                    </td>@Html.Hidden("StrCheck3")
                    <td>@Model.strProbePlace4</td>
                    <td>@Model.strProbeID4</td>
                    <td rowspan="2">
                        @Html.RadioButton("Check4", 0) 合格 
                        @Html.RadioButton("Check4", 1) 不合格
                    </td>@Html.Hidden("StrCheck4")
                </tr>
                <tr style="height: 30px;">
                    <td>新探头</td>
                    <td>@Model.strNewProbePlace3</td>
                    <td>@Model.strNewProbeID3</td>
                    <td>@Model.strNewProbePlace4</td>
                    <td>@Model.strNewProbeID4</td>
                </tr>
                <tr style="height: 5px;">
                    <td colspan="7"></td>
                </tr>
                <tr style="height: 30px;">
                    <td>原探头</td>
                    <td>@Model.strProbePlace5</td>
                    <td>@Model.strProbeID5</td>
                    <td rowspan="2">
                        @Html.RadioButton("Check5", 0) 合格 
                        @Html.RadioButton("Check5", 1) 不合格
                    </td>@Html.Hidden("StrCheck5")
                    <td>@Model.strProbePlace6</td>
                    <td>@Model.strProbeID6</td>
                    <td rowspan="2">
                        @Html.RadioButton("Check6", 0) 合格 
                        @Html.RadioButton("Check6", 1) 不合格
                    </td>@Html.Hidden("StrCheck6")
                </tr>
                <tr style="height: 30px;">
                    <td>新探头</td>
                    <td>@Model.strNewProbePlace5</td>
                    <td>@Model.strNewProbeID5</td>
                    <td>@Model.strNewProbePlace6</td>
                    <td>@Model.strNewProbeID6</td>
                </tr>
                <tr style="height: 5px;">
                    <td colspan="7"></td>
                </tr>
                <tr style="height: 30px;">
                    <td>原探头</td>
                    <td>@Model.strProbePlace7</td>
                    <td>@Model.strProbeID7</td>
                    <td rowspan="2">
                        @Html.RadioButton("Check7", 0) 合格 
                        @Html.RadioButton("Check7", 1) 不合格
                    </td>@Html.Hidden("StrCheck7")
                    <td>@Model.strProbePlace8</td>
                    <td>@Model.strProbeID8</td>
                    <td rowspan="2">
                        @Html.RadioButton("Check8", 0) 合格 
                        @Html.RadioButton("Check8", 1) 不合格
                    </td>@Html.Hidden("StrCheck8")
                </tr>
                <tr style="height: 30px;">
                    <td>新探头</td>
                    <td>@Model.strNewProbePlace7</td>
                    <td>@Model.strNewProbeID7</td>
                    <td>@Model.strNewProbePlace8</td>
                    <td>@Model.strNewProbeID8</td>
                </tr>
                <tr style="height: 30px;">
                    <td style="width: 10px;" rowspan="3">配件维修</td>
                    <td></td>
                    <td colspan="2">探头外壳</td>
                    <td colspan="2">探头底座</td>
                    <td colspan="2">电子控制单元外壳</td>
                </tr>
                <tr style="height: 30px;">
                    <td>位置</td>
                    <td colspan="2">@Model.strProbeOut</td>
                    <td colspan="2">@Model.strProbeUnder</td>
                    <td colspan="2">@Model.strProbeUnit</td>
                </tr>
                <tr style="height: 30px;">
                    <td>维修内容</td>
                    <td colspan="2">
                        @Html.RadioButton("RepairContent1", 0) 修理 
                        @Html.RadioButton("RepairContent1", 1) 更换
                    </td>@Html.Hidden("StrRepairContent1")
                    <td colspan="2">
                        @Html.RadioButton("RepairContent2", 0) 修理 
                        @Html.RadioButton("RepairContent2", 1) 更换
                    </td>@Html.Hidden("StrRepairContent2")
                    <td colspan="2">
                        @Html.RadioButton("RepairContent3", 0) 修理 
                        @Html.RadioButton("RepairContent3", 1) 更换
                    </td>@Html.Hidden("StrRepairContent3")
                </tr>
                <tr style="height: 30px;">
                    <td colspan="8">维修过程需配合工作</td>
                </tr>
                <tr style="height: 30px;">
                    <td>打压</td>
                    <td colspan="2">@Model.strSuppress</td>
                    <td>特殊工具</td>
                    <td colspan="2">@Model.strSpecialTool</td>
                    <td>配合单位</td>
                    <td colspan="2">@Model.strCoordinate</td>
                </tr>
                <tr style="height: 30px;">
                    <td colspan="2">验收人员</td>
                    <td colspan="2">@Model.strAcceptUser</td>
                    <td colspan="2">验收日期</td>
                    <td colspan="2">@Model.strAcceptDate</td>
                </tr>
            </table>
            <br />
        </div>

        <div style="text-align: right; margin-top: 5px; width: 99%;">
            <input type="button" id="btnPrint" value="打 印" class="btn" />
        </div>
    </div>
</body>
</html>
