@{
    Layout = null;
}
@using TECOCITY_BGOI;
@model tk_CardSearch
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>SearchService</title>

    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/FlowMeterManage/SearchService.js")" type="text/javascript"></script>
</head>
@{
    Acc_Account account = GAccount.GetAccountInfo();
    int Rights = account.UserID;
}
<body>
    @using (Html.BeginForm("ExportDataTableToExcelServicing", "FlowMeterManage", FormMethod.Post, new { id = "GForm", onsubmit = "return returnConfirm();" }))
    {


        <div id="pageContent">
            <div class="mainHead">
                <img src="../images/house.png" class="house" />&nbsp;&nbsp;&nbsp;&nbsp;当前位置>><span style="color: #000099;">汇总统计</span>>>缴费明细汇总表
            </div>

            <div id="search" style="height: 100px;">
                @Html.HiddenFor(model => model.RID) @Html.HiddenFor(model => model.ModelType)
                <table class="tabSearch" cellpadding="0" cellspacing="0">
                    <tr style="height: 30px;">
                        <td>维修编号</td>
                        <td>@Html.TextBoxFor(model => model.RepairID, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.RepairID)</td>
                        <td>客户名称</td>
                        <td>@Html.TextBoxFor(model => model.CustomerName, new { @class = "txtCss" })</td>
                        <td>客户地址</td>
                        <td>@Html.TextBoxFor(model => model.CustomerAddr, new { @class = "txtCss" })</td>
                        <td>仪表编号</td>
                        <td colspan="2">@Html.TextBoxFor(model => model.MeterID, new { @class = "txtCss" })</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td>仪表型号</td>
                        <td>@Html.DropDownList("Model", FlowMeterMan.getConfigContent("YBModel"), new { @class = "txtCss", style = "width:167px;" })</td>
                        <td>仪表名称</td>
                        <td>@Html.TextBoxFor(model => model.MeterName, new { @class = "txtCss" })</td>
                        <td>送表日期从</td>
                        <td>@Html.TextBoxFor(model => model.SS_Date, new { onclick = "WdatePicker({dateFmt: 'yyyy-MM-dd' })", @class = "txtCss" })</td>
                        <td>至</td>
                        <td>@Html.TextBoxFor(model => model.ES_Date, new { onclick = "WdatePicker({dateFmt: 'yyyy-MM-dd' })", @class = "txtCss" })</td>
                    </tr>
                    <tr style="height: 30px;">
                        <td style="text-align: center;">状态</td>
                        <td>@Html.DropDownList("State", FlowMeterMan.getConfigState("RepairState"), new { @class = "txtCss", style = "width:167px;" })</td>
                        <td>仪表类型</td>
                        <td>@Html.DropDownList("CardType", FlowMeterMan.getConfigContent("CardType"), new { @class = "txtCss", style = "width:167px;", @onchange = "change()" })</td>
                        <td>隶属单位</td>
                        <td>@Html.TextBoxFor(model => model.SubUnit, new { @class = "txtCss" })</td>
                        <td colspan="4">
                            <input type="button" id="CX" class="btn" value="查询" onclick="reload();" />
                            @if (Rights != 321)
                            {  
                                <input type="submit" class="btn" value="导出" />
                            }
                        </td>
                    </tr>
                </table>
            </div>


            <div id="bor" style="width: 98%; margin-top: 5px; margin-left: 10px;">

                <table id="list" class="tabInfo" style="width: 100%; text-align: center;">
                    <tr>
                        <td>序号</td>
                        <td>规格型号</td>
                        <td>口径</td>
                        <td>地点</td>
                        <td style="width: 69px; position: static">修理内容</td>
                        <td style="width: 46px; position: static">单价(元)</td>
                        <td style="width: 47px; position: static">数量</td>
                        <td style="width: 47px; position: static">单位</td>
                        <td style="width: 50px; position: static">金额(元)</td>
                        <td>清洗保养</td>
                        <td>出厂标定</td>
                        <td>气密性检测</td>
                        <td>合计（元）</td>
                    </tr>

                </table>

            </div>

        </div>

    }
</body>
</html>
