@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Main</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-leftmenu.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Main/SelectModule.js")" type="text/javascript"></script>
</head>
<body>
    @Html.Hidden("Role", @ViewData["Role"])   @Html.Hidden("UserID", @ViewData["UserID"])
    <div id="pageSelectAll">
        <div id="Stitle">选择模块<span id="hint"></span></div>
        <div id="Sbtn">
            <div id="Stop">
                <input type="button" class="btnSelect" name="6" value="基础管理模块" onclick="selectM(this.name,this)" onmouseover="Mover(this)" onmouseout="Mout(this)"/>
                <input type="button" class="btnSelect" name="9" value="采购模块" onclick="selectM(this.name, this)" onmouseover="Mover(this)" onmouseout="Mout(this)"/>
                <input type="button" class="btnSelect" name="4" value="销售模块" onclick="selectM(this.name, this)" onmouseover="Mover(this)" onmouseout="Mout(this)"/>
                <input type="button" class="btnSelect" name="10" value="售后服务模块" onclick="selectM(this.name, this)" onmouseover="Mover(this)" onmouseout="Mout(this)"/>
            </div>

            <div id="Sbottom">
                <input type="button" class="btnSelect" name="3" value="工程项目模块" onclick="selectM(this.name, this)" onmouseover="Mover(this)" onmouseout="Mout(this)"/>
                <input type="button" class="btnSelect" name="2" value="流量计模块" onclick="selectM(this.name, this)" onmouseover="Mover(this)" onmouseout="Mout(this)"/>
                <input type="button" class="btnSelect" name="8" value="生产任务模块" onclick="selectM(this.name, this)" onmouseover="Mover(this)" onmouseout="Mout(this)"/>
                <input type="button" class="btnSelect" name="7" value="库房管理模块" onclick="selectM(this.name, this)" onmouseover="Mover(this)" onmouseout="Mout(this)"/>
            </div>
        </div>
    </div>
</body>
</html>


