@{
    Layout = null;
}
@using TECOCITY_BGOI
@model tk_SUPSugestion
<!DOCTYPE html>

<html>
<head>
    @* <meta name="viewport" content="width=device-width" />*@
    <title>ApprovalZhuRu1</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/SupplyManage/ApprovalZhuRu1.js")" type="text/javascript"></script>
    <style>
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("ApprovalZhuRu1", "SupplyManage", FormMethod.Post, new { id = "GForm" }))
    {
        @Html.Hidden("sid", @ViewData["sid"])
        <div id="pageContent">
            <div id="tabTitile"><span style="margin-left: 20px;">流水号：@ViewData["sid"]</span></div>
            <table class="tabInfo" style="width: 97%; margin-left: 8px; margin-top: 10px;">
                <tr>
                    <td class="textLeft">是否同意通过内部评审：</td>
                    <td class="textRight" colspan="3">
                        @Html.RadioButton("SState", "0", new { @checked = true })是
                        @Html.RadioButton("SState", "1")否
                        <span style="color: red;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="textLeft">内部负责人意见：</td>
                    <td class="textRight" colspan="3">@Html.TextAreaFor(model => model.SContent, new { @class = "txtApproval" }) <span style="color: red;">*</span></td>

                </tr>
            </table>
            <div style="margin-top: 20px; margin-left: 80%">
                <input class="btn" type="button" id="TJ" value="提交" />
            </div>
        </div>
    }
</body>
</html>
