@{
    Layout = null;
}
@using TECOCITY_BGOI
@model  Tk_SupplierBas
<!DOCTYPE html>

<html>
<head>
    @*  <meta name="viewport" content="width=device-width" />*@
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>合格供应商打印</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Table_Fix.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cmm_PrintPageSet.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/SupplyManage/PrintOKSup.js")" type="text/javascript"></script>

    <style type="text/css" media="print">
        .Noprint {
            DISPLAY: none;
        }

        .pageContent {
            page-break-after: always;
        }
    </style>

</head>

<body style="margin: 0 0 0 0; background-color: white;">
    <div id="pageContent" style="margin-left: 2px; margin-right: 2px; overflow-y: auto;">
        <div id="tabTitile">
            <span style="margin-left: 10px;">流水号：@Model.Sid @Model.COMNameC
            </span>
        </div>@Html.HiddenFor(model => model.Sid)
        <div style="margin-top: 10px; font-size: 20px; font: 900; text-align: center; font-weight: bold">
            合格供应商信息表
        </div>
        <div style="height: 100%; margin-left: 8px; width: 95%; margin-top: 10px;">
            <table id="myTable" class="tabInfo" style="text-align: center;">
                <tr style="text-align: center;">
                    <td style="width: auto;"><b>供应商类别</b></td>
                    <td style="width: auto;"><b>公司名称</b></td>
                    <td style="width: auto;"><b>公司简称</b></td>
                    <td style="width: auto;"><b>所属城市</b></td>
                    <td style="width: auto;"><b>所属国家</b></td>
                    <td style="width: auto;"><b>公司办公地址</b></td>

                </tr>
                <tbody id="DetailInfo" class="tabInfo" style="text-align: left;"></tbody>

                <tr>
                    <td style="width: auto;"><b>税务登记号</b></td>
                    <td style="width: auto;"><b>营业执照号码</b></td>
                    <td style="width: auto;"><b>组织机构代码 </b></td>
                    <td style="width: auto;"><b>三证合一编号</b> </td>
                    <td style="width: auto;"><b>法人代表</b> </td>
                    <td style="width: auto;"><b>公司创建时间</b></td>
                </tr>
                <tbody id="DetailInfo1" class="tabInfo" style="text-align: left;"></tbody>

                <tr style="text-align: center;">
                    <td style="width: auto;"><b>公司注册地址 </b></td>
                    <td style="width: auto;"><b>注册资金</b> </td>
                    <td style="width: auto;"><b>开户行名称 </b></td>
                    <td style="width: auto;"><b>银行账号</b> </td>
                    <td style="width: auto;"><b>公司总人数</b></td>
                    <td style="width: auto;"><b>企业类型 </b></td>
                </tr>
                <tbody id="Detail" class="tabInfo" style="text-align: left;"></tbody>
                <tr>
                    <td style="width: auto;"><b>业务分布 </b></td>
                    <td style="width: auto;"><b>开票方式 </b></td>
                    <td style="width: auto;"><b>去年营业额</b> </td>
                    <td style="width: auto;"><b>研发人数 </b></td>
                    <td style="width: auto;"><b>质检人数</b></td>
                    <td style="width: auto;"><b>生产人数 </b></td>
                </tr>
                <tbody id="Detail1" class="tabInfo" style="text-align: left;"></tbody>
                <tr style="text-align: center;">

                    <td style="width: auto;"><b>供需关系</b> </td>
                    <td style="width: auto;"><b>工作开始时间</b> </td>
                    <td style="width: auto;"><b>工作结束时间 </b></td>
                    <td style="width: auto;"><b>公司出厂/出货地址</b> </td>
                    <td style="width: auto;"><b>工作日开始时间 </b></td>
                    <td style="width: auto;"><b>工作日结束时间 </b></td>

                </tr>
                <tbody id="Detail3" class="tabInfo" style="text-align: left;"></tbody>

                <tr style="text-align: center;">
                    <td style="width: auto;"><b>经营范围 </b></td>
                    <td style="width: auto;"><b>拟购产品行业排名</b> </td>
                    <td style="width: auto;"><b>排名</b> </td>
                    <td style="width: auto;"><b>名次 </b></td>
                    <td style="width: auto;"><b>供应商规模和经营品种分类</b> </td>
                    <td style="width: auto;"><b>产品质量执行标准 </b></td>

                </tr>

                <tbody id="Detail4" class="tabInfo" style="text-align: left;"></tbody>
                <tr>
                    <td style="width: auto;"><b>是否有代理产品授权证明 </b></td>
                    <td style="width: auto;"><b>是否有健全的组织机构</b> </td>
                    <td style="width: auto;"><b>代理产品国内所属级别 </b></td>
                    <td style="width: auto;"><b>代理进口产品进货证明材料</b> </td>
                </tr>
                <tbody id="Detail5" class="tabInfo" style="text-align: left;"></tbody>
            </table>
        </div>
        <div style="text-align: right; margin-top: 15px; width: 99%;">
            <input type="button" id="btnPrint" value="打 印" class="Noprint" onclick="" />
            <br />
        </div>
    </div>
</body>
</html>
