@{
    Layout = null;
}
@using TECOCITY_BGOI
@model tk_SUPSugestion
<!DOCTYPE html>

<html>
<head>
    @*  <meta name="viewport" content="width=device-width" />*@
    <title>SubmitRcover</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/SupplyManage/SubmitRcover.js")" type="text/javascript"></script>
    <style>
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm("SubmitRcover", "SupplyManage", FormMethod.Post, new { id = "GForm" }))
    {
        @Html.Hidden("job", @ViewData["job"])
        @Html.Hidden("webkey", @ViewData["webkey"])   @Html.Hidden("folderBack", @ViewData["folderBack"])  @Html.Hidden("RelevanceID", @ViewData["RelevanceID"])
        <div id="pageContent">
            <div id="tabTitile"><span style="margin-left: 20px;">流水号：@ViewData["RelevanceID"]</span></div>
            <table class="tabInfo" style="width: 97%; margin-left: 8px; margin-top: 10px;">
                <tr>
                    <td class="textLeft">申请处理原因</td>
                    <td class="textright" colspan="4">@Html.Hidden("Reason") @ViewData["Reason"]</td>
                </tr>
                <tr>
                    <td class="textLeft">处理意见：</td>
                    <td class="textright" colspan="4">
                        @Html.Hidden("Opinions", @ViewData["Opinions"])
                        @Html.RadioButton("Opinions", "0", new { disabled = "disabled" })
                        停止供货
                        @Html.RadioButton("Opinions", "1", new { disabled = "disabled" })
                        暂停供货
                        @Html.RadioButton("Opinions", "2", new { disabled = "disabled" })
                        淘汰该供应商
                    </td>
                </tr>
                @* <tr>
                    <td class="textLeft">部门负责人意见：</td>
                    <td class="textRight" colspan="3">@Html.TextArea("OpinionsD", new { @class = "txtCss", maxlength = "200", style = "height:50px;width:450px;" }) @ViewData["OpinionsD"] </td>
                </tr>*@
                <tr>
                    <td class="textLeft">是否同意恢复供应商：</td>
                    <td class="textRight" colspan="3">
                        @Html.RadioButton("SState", "0") 是
                        @Html.RadioButton("SState", "1") 否<span style="color: red;">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="textLeft">部门负责人意见：</td>
                    <td class="textRight" colspan="3">@Html.TextAreaFor(model => model.SContent, new { @class = "txtApproval" })<span style="color: red;">*</span></td>
                </tr>
                <tr>
                    <td class="textLeft">部门负责人：</td>
                    <td class="textRight" colspan="3">@Html.Hidden("Sperson", new { @class = "txtCss" })@ViewData["UserName"]</td>

                </tr>
                <tr>
                    <td class="textLeft">恢复建议时间：</td>
                    <td class="textRight" colspan="3">@Html.Hidden("SCreate", new { @class = "txtCss", onclick = "WdatePicker({dateFmt: 'yyyy-MM-dd' })" })@ViewData["time"]</td>
                </tr>
            </table>
            <div style="margin-top: 20px; margin-left: 80%">
                <input class="btn" type="button" id="TJ" value="提交" />
            </div>
        </div>
    }
</body>
</html>
