@{
    Layout = null;
    string Rights = GAccount.GetAccountInfo().Rights;
}
@using TECOCITY_BGOI;
@model Tk_SupplierBas
<!DOCTYPE html>

<html>
<head>
    @*<meta name="viewport" content="width=device-width" />*@
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <title>SuppliesPrepare</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src=" @Url.Content("~/Scripts/cmm_Tables2.js")"></script>
    <script src="@Url.Content("~/Scripts/cmm_ClassControl.js")"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript" charset=“UTF-8″></script>
    <script src="@Url.Content("~/Scripts/SupplyManage/SupplyPrepare.js")" type="text/javascript"></script>
    <style>
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
        }

        .selDiv {
            background: #f5f5f5;
            display: none;
            width: 158px;
            max-height: 116px;
            overflow-x: hidden;
            overflow-y: scroll;
            position: absolute;
            top: 26px;
            border: 1px solid #7f9cba;
        }

        .mainHead {
            position: absolute;
            float: left;
        }

        html, body {
            overflow: auto;
            margin: 0px;
            width: 100%;
            height: 100%;
        }

        #search1 {
            margin-top: 35px;
        }

        .textLeft {
            width: 140px;
        }
    </style>


</head>

<body>

    @using (Html.BeginForm("SuppliesPrepare", "SuppliesManage", FormMethod.Post, new { id = "SuForm" }))
    {
        @Html.HiddenFor(model => model.Sid);
        @Html.Hidden("StrSid")
        <div id="pageContent" style="overflow-y: scroll">
            <div class="mainHead">
                <img src="../images/house.png" class="house" />&nbsp;&nbsp;&nbsp;&nbsp;当前位置>><span style="color: #000099;">供应商管理</span>>>新增供应商
            </div>

            <div id="search1" style="height: auto;">
                <table class="tabInfo">
                    <tr>
                        <td class="textLeft">填报部门:</td>
                        <td class="textright">@ViewBag.unit</td>
                        <td class="textLeft">填报日期：</td>
                        <td class="textright">
                            @Html.TextBoxFor(model => model.DeclareDate, new { onclick = "WdatePicker({dateFmt: 'yyyy-MM-dd' })", @class = "txtCss", @readonly = true })  <span style="color: red;">*</span>
                        </td>

                    </tr>
                </table>
            </div>
            <div class="house">
                <div style="background-color: #0094ff; height: 25px; width: 99%; padding-top: 10px;"><span style="color: white; margin-left: 40px;"><b>基本情况</b></span></div>
                <div style="height: auto; width: 99%;">
                    <table class="tabInfo">
                        <tr>
                            <td class="textLeft">供应商类别</td>
                            <td class="textright">@Html.DropDownListFor(model => model.SupplierType, SupplyManage.GetConfigType("SupplierType"), new { @class = "txtCss" }) <span style="color: red">*</span></td>
                            <td class="textLeft">其他: </td>
                            <td class="textright">@Html.TextBoxFor(model => model.OtherType, new { @class = "txtCss", @disabled = "disabled" })</td>
                            <td class="textLeft">公司简称</td>
                            <td class="textright">@Html.TextBoxFor(model => model.COMShortName, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.COMShortName)<span style="color: red;">*</span></td>
                        </tr>
                        <tr>
                            <td class="textLeft">公司名称(中文) </td>
                            <td class="textright">@Html.TextBoxFor(model => model.COMNameC, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.COMNameC)<span style="color: red;">*</span> </td>
                            <td class="textLeft">所属国家</td>
                            <td class="textright">@Html.DropDownListFor(model => model.COMCountry, SupplyManage.GetConfigType("COMCtry"), new { @class = "txtCss" })<span style="color: red;">*</span></td>
                            <td class="textLeft">所属城市</td>
                            <td class="textright">@Html.DropDownListFor(model => model.COMArea, SupplyManage.GetConfigType("COMArea"), new { @class = "txtCss" })<span style="color: red;">*</span></td>

                        </tr>
                        <tr>
                            <td class="textLeft">公司注册地址</td>
                            <td class="textright">@Html.TextBoxFor(model => model.COMRAddress, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.COMRAddress)<span style="color: red;">*</span></td>
                            <td class="textLeft">公司创建日期</td>
                            <td class="textright">@Html.TextBoxFor(model => model.COMCreateDate, new { onclick = "WdatePicker({dateFmt: 'yyyy-MM-dd' })", @class = "txtCss", @readonly = "readonly" })<span style="color: red;">*</span></td>
                            <td class="textLeft">注册资金</td>
                            <td class="textright"><a>@Html.TextBoxFor(model => model.RegisteredCapital, new { @class = "box" })   @Html.DropDownListFor(model => model.CapitalUnit, SupplyManage.GetConfigType("CapitalUnit"), new { @class = "box" })
                                <span style="color: red;">*</span>  @Html.ValidationMessageFor(model => model.RegisteredCapital)</a>
                            </td>


                        </tr>
                        <tr>
                            <td class="textLeft">是否三证合一 <span style="color: red;">*</span></td>
                            <td class="textright">
                                @Html.RadioButton("Certity", "0", false, new { @class = "Certity" }) 是
                               @Html.RadioButton("Certity", "1", true, new { @class = "Certity" }) 否  
                            </td>
                            <td class="textLeft">三证合一编号</td>
                            <td class="textright">@Html.TextBoxFor(model => model.ThreeCertity, new { @class = "txtCss" })<span style="color: red;">*</span></td>
                            <td class="textLeft">组织机构与代码 </td>
                            <td class="textright">@Html.TextBoxFor(model => model.OrganizationCode, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.OrganizationCode) <span style="color: red;">*</span></td>
                        </tr>
                        <tr>
                            <td class="textLeft">税务登记号</td>
                            <td class="textright">@Html.TextBoxFor(model => model.TaxRegistrationNo, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.TaxRegistrationNo)<span style="color: red;">*</span></td>
                            <td class="textLeft">营业执照号码</td>
                            <td class="textright">@Html.TextBoxFor(model => model.BusinessLicenseNo, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.BusinessLicenseNo)<span style="color: red;">*</span></td>
                            <td class="textLeft">去年营业额</td>
                            <td class="textright">@Html.TextBoxFor(model => model.Turnover, new { @class = "txtMan" }) (万元)<span style="color: red;">*</span> </td>

                        </tr>
                        <tr>
                            <td class="textLeft">公司办公地址</td>
                            <td class="textright">@Html.TextBoxFor(model => model.ComAddress, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.ComAddress)<span style="color: red;">*</span></td>
                            <td class="textLeft">法人代表</td>
                            <td class="textright">@Html.TextBoxFor(model => model.COMLegalPerson, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.COMLegalPerson)<span style="color: red;">*</span></td>

                            <td class="textLeft">公司出厂/出货地址</td>
                            <td class="textright">@Html.TextBoxFor(model => model.COMFactoryAddress, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.COMFactoryAddress) <span style="color: red;">*</span></td>
                        </tr>
                        <tr>
                            <td class="textLeft">是否与燕山公司合作过 <span style="color: red;">*</span></td>
                            <td class="textright">
                                @Html.RadioButton("IsCooperate", "0") 是
                            @Html.RadioButton("IsCooperate", "1") 否    </td>
                            <td class="textLeft">开户行名称</td>
                            <td class="textright">@Html.DropDownListFor(model => model.BankName, SupplyManage.GetConfigType("BankName"), new { @class = "txtCss" })  @Html.ValidationMessageFor(model => model.BankName)<span style="color: red;">*</span></td>
                            <td class="textLeft">银行基本账号 </td>
                            <td class="textright">@Html.TextBoxFor(model => model.BankAccount, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.BankAccount)<span style="color: red;">*</span></td>

                        </tr>
                        <tr>
                            <td class="textLeft">公司总人数</td>
                            <td class="textright">@Html.TextBoxFor(model => model.StaffNum, new { @class = "box" }) 人 <span style="color: red;">*</span></td>
                            <td class="textLeft">企业类型 </td>
                            <td class="textright">@Html.DropDownListFor(model => model.EnterpriseType, SupplyManage.GetConfigType("EnterpriseType"), new { @class = "txtCss" })<span style="color: red;">*</span></td>
                            <td class="textLeft">工厂面积</td>
                            <td class="textright"><a>@Html.TextBoxFor(model => model.COMFactoryArea, new { @class = "txtCss" })㎡ @Html.ValidationMessageFor(model => model.COMFactoryArea) </a></td>

                        </tr>
                        <tr>
                            <td class="textLeft">业务分布 <span style="color: red;">*</span></td>
                            @Html.Hidden("BusinessDistribute")
                            <td colspan="5" class="textright">
                                @if (ViewBag.BusinessDistribute != null)
                                {
                                    foreach (SelectListItem item in ViewBag.BusinessDistribute)
                                    {
                                    <label>
                                        <input name="guonei"  type="checkbox"  onclick="changes('BDB')" value="@item.Value"  />
                                    </label>
                                    @item.Text
                                        string strVal = "txt" + @item.Value;  
                                    <label>
                                        <input type="text" name="guonei" id="@strVal" class="ckb"/>
                                        %
                                    </label> 
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="textLeft">开票方式 <span style="color: red;">*</span></td>
                            @Html.Hidden("BillingWay")
                            <td class="textright" colspan="5">
                                @if (ViewBag.BillingWay != null)
                                {
                                    foreach (SelectListItem item in ViewBag.BillingWay)
                                    {
                                    <label>
                                        <input type="checkbox"   onclick="changes('BW')" name="billway"  value="@item.Value"  />
                                    </label>
                                    @item.Text
                                        string strval = "bill" + @item.Value;
                                    <label>
                                        <input name="txtbill" type="text" id="@strval" class="ckb"/>%</label>
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="textLeft">供需关系  <span style="color: red;">*</span></td>
                            <td class="textright" colspan="6">
                                @Html.Hidden("Relation")
                                @if (ViewBag.Relation != null)
                                {
                                    foreach (SelectListItem item in ViewBag.Relation)
                                    {
                                    <input type="radio" id="@item.Value"  onclick="changes('rla')" name="rela1"  value="@item.Value"  />
                                                  
                                    <a id="open" onmouseover="Show(@item.Value)" onmouseout="Noshow(@item.Value)" >@item.Text</a>
                                    }
                                }

                                <div id="sh" style="display: none; width: auto; background-color: #ddd6d6; position: absolute; cursor: pointer;"></div>
                            </td>
                        </tr>
                        <tr>
                            <td class="textLeft">公司名称(英文)</td>
                            <td class="textright">@Html.TextBoxFor(model => model.COMNameE, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.COMNameE)</td>
                            <td class="textLeft">公司网址</td>
                            <td class="textright">@Html.TextBoxFor(model => model.COMWebsite, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.COMWebsite) </td>
                            <td class="textLeft">供应商集团名称</td>
                            <td class="textright">@Html.TextBoxFor(model => model.COMGroup, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.COMGroup)</td>
                        </tr>
                        <tr>
                            <td class="textLeft">员工状况 </td>
                            <td class="textright">研发人员： @Html.TextBoxFor(model => model.DevelopStaffs, new { @class = "box" }) (人)</td>
                            <td class="textright" colspan="2">质量人员： @Html.TextBoxFor(model => model.QAStaffs, new { @class = "box" }) (人)</td>
                            <td class="textright" colspan="2">生产人员：@Html.TextBoxFor(model => model.ProduceStaffs, new { @class = "box" }) (人) </td>
                        </tr>

                        <tr>
                            <td class="textLeft">是否有健全的组织机构和内部管理的规章制度</td>
                            <td class="textright">
                            @Html.RadioButton("HasRegulation", "0", new { @checked = true }) 是
                            @Html.RadioButton("HasRegulation", "1") 否
                                                       <td class="textLeft">拟购产品的生产线数量</td>
                            <td class="textright" colspan="3">@Html.TextBoxFor(model => model.ProductLineNum, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.ProductLineNum)</td>
                        </tr>
                        <tr>
                            <td class="textLeft">正常工作时间</td>
                            <td class="textright">AM &nbsp;&nbsp;&nbsp;@Html.TextBoxFor(model => model.WorkTime_Start, new { onclick = "WdatePicker({dateFmt: 'HH:mm' })", @class = "txtMan" }) &nbsp;&nbsp; &nbsp;&nbsp;TO </td>
                            <td class="textright">PM &nbsp;&nbsp;&nbsp;  @Html.TextBoxFor(model => model.WorkTime_End, new { onclick = "WdatePicker({dateFmt: 'HH:mm' })", @class = "txtMan" }) </td>
                            <td class="textright">&nbsp;&nbsp; &nbsp;&nbsp;&nbsp; 正常工作日</td>
                            <td class="textright">@Html.DropDownListFor(model => model.WorkDay_Start, SupplyManage.GetConfigType("Week"), new { @class = "txtMan" }) </td>
                            <td class="textright">至 &nbsp;&nbsp;&nbsp; @Html.DropDownListFor(model => model.WorkDay_End, SupplyManage.GetConfigType("Week"), new { @class = "txtMan" })  </td>
                        </tr>
                        <tr>
                            <td class="textLeft">传真</td>
                            <td class="textright" colspan="5">@Html.TextBoxFor(model => model.FAX, new { @class = "txtCss" })</td>
                        </tr>
                    </table>

                </div>
                <div style="background-color: #0094ff; height: 25px; width: 99%; padding-top: 10px; margin-top: 10px; margin-bottom: 10px;"><span style="color: white; margin-left: 40px;"><b>经营情况</b></span></div>
                <div style="height: auto; width: 99%;">
                    <table class="tabInfo">

                        <tr>
                            <td class="textLeft" style="width: 30%">经营范围</td>
                            <td class="textright" colspan="5" style="width: 70%;">@Html.TextBoxFor(model => model.BusinessScope, new { @class = "txtfan" }) @Html.ValidationMessageFor(model => model.BusinessScope) <span style="color: red;">*</span> </td>
                        </tr>
                        <tr>
                            <td class="textLeft">拟购产品行业排名是否在前五名 </td>
                            <td class="textright" colspan="3">
                                @Html.RadioButton("IsrankingIn5", "0", false, new { @class = "IsrankingIn5" }) 是
                                @Html.RadioButton("IsrankingIn5", "1", false, new { @class = "IsrankingIn5" }) 否
                                                      
                            </td>
                        </tr>
                        <tr>
                            <td class="textLeft">如是请填写以下：排名在 <span style="color: red;">*</span></td>
                            <td class="textright" colspan="1">
                                @Html.RadioButton("RankingType", "0", false, new { @class = "RankingType" }) 国内
                            @Html.RadioButton("RankingType", "1", false, new { @class = "RankingType" }) 国际
                            </td>
                            <td class="textright" colspan="2">第 @Html.TextBoxFor(model => model.Ranking, new { @class = "box" })位 </td>
                        </tr>
                        <tr>
                            <td class="textLeft">按供应商规模和经营品种分类 <span style="color: red;">*</span></td>
                            <td class="textright" colspan="3" style="width: 100%;">
                                @Html.Hidden("ScaleType")
                                @if (ViewBag.ScaleType != null)
                                {
                                    foreach (SelectListItem item in ViewBag.ScaleType)
                                    {
                                        //type="checkbox"
                                    <input    type="radio" onclick="changes('st')" name="scale"  value="@item.Value"  />
                                    @item.Text
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="textLeft">产品质量执行标准 <span style="color: red;">*</span></td>

                            <td class="textright" colspan="3" style="width: 100%;">
                                @Html.Hidden("QualityStandard")
                                @if (ViewBag.QualityStandard != null)
                                {
                                    foreach (SelectListItem item in ViewBag.QualityStandard)
                                    {
                                    <input type="checkbox"   onclick="changes('qsd')" name="stand"  value="@item.Value"  />
                                    @item.Text
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td class="textLeft">拟购产品的生产规模{年产量和产值} </td>

                            <td class="textright" colspan="3" style="width: 100%;">@Html.TextBoxFor(model => model.AnnualOutput, new { @class = "txtCss" })<b>/</b> @Html.TextBoxFor(model => model.AnnualOutputValue, new { @class = "txtCss" })</td>
                        </tr>
                        <tr>
                            <td class="textLeft">针对拟为燕山公司提供的产品或服务近三年主要客户名称 </td>

                            <td class="textright" colspan="3" style="width: 100%;">@Html.TextBoxFor(model => model.MainClient, new { @class = "txtfan" }) @Html.ValidationMessageFor(model => model.MainClient)</td>
                        </tr>
                        <tr>
                            <td class="textLeft">针对拟为燕山公司提供的产品或服务，近三年业绩</td>

                            <td class="textright" colspan="3" style="width: 100%;">@Html.TextBoxFor(model => model.Achievement, new { @class = "txtfan" }) @Html.ValidationMessageFor(model => model.Achievement)</td>
                        </tr>
                        <tr>

                            <td class="textLeft" colspan="4" style="width: 20%;">-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------</td>
                        </tr>
                        <tr>
                            <td class="textLeft" rowspan="4" style="width: 2%;">产<br />
                                品<br />
                                代<br />
                                理</td>

                            <td rowspan="1" class="textLeft">代理产品授权证明（原厂代理证明或代理证）</td>
                            <td class="textright">
                                @Html.RadioButton("HasAuthorization", "0", new { @checked = true }) 是
                            @Html.RadioButton("HasAuthorization", "1") 否
                             

                            </td>

                        </tr>
                        <tr>

                            <td class="textLeft">产品生产厂家的全套图纸</td>
                            <td class="textright">
                                @Html.RadioButton("HasDrawing", "0", new { @checked = true }) 有
                            @Html.RadioButton("HasDrawing", "1")   无
                            
                            </td>
                        </tr>
                        <tr>


                            <td class="textLeft">代理产品国内所属级别 <span style="color: red;">*</span></td>
                            <td class="textright" colspan="2">
                                @Html.Hidden("AgentClass")
                                @if (ViewBag.AgentClass != null)
                                {
                                    foreach (SelectListItem item in ViewBag.AgentClass)
                                    {
                                        
                                    <input type="checkbox"  onclick="changes('acl')" name="agent"  value="@item.Value"  />
                                    @item.Text 
                                    }
                                }
                            </td>
                        </tr>
                        <tr>

                            <td class="textLeft">能够提供代理进口产品进货证明材料</td>
                            <td class="textright" colspan="2">
                                @Html.RadioButton("HasImportMaterial", "0", new { @checked = true }) 报关单
                            @Html.RadioButton("HasImportMaterial", "1")   收货单
                             
                            </td>
                        </tr>
                    </table>
                </div>

                <div style="background-color: #0094ff; height: 25px; width: 99%; padding-top: 10px; margin-bottom: 10px; margin-top: 10px;"><span style="color: white; margin-left: 40px;"><b>联系人</b></span></div>
                <div style="width: 99%;">
                    <table>
                        <tr>
                            <td>
                                @if (Rights.IndexOf(",Y19,") >= 0)
                                {
                                    <input class="btn" type="button" value="添加" id="Add" style="cursor: pointer;" />
                                }
                            </td>
                        </tr>
                    </table>
                    <div style="overflow-y: scroll; height: 200px;">
                        <table id="myTable" class="tabInfo">
                            <tr>
                                <td style="width: 5%;" class="textLeft">序号 </td>
                                <td style="width: 10%;" class="textLeft">职责部门</td>
                                <td style="width: 8%;" class="textLeft">姓名</td>
                                <td style="width: 8%;" class="textLeft">部门</td>
                                <td style="width: 10%;" class="textLeft">职位</td>
                                <td style="width: 13%;" class="textLeft">座机</td>
                                <td style="width: 13%;" class="textLeft">手机</td>
                                <td style="width: 13%;" class="textLeft">邮箱</td>
                                <td style="width: 7%;" class="textLeft">操作</td>
                            </tr>
                        </table>
                        <table id="DetailInfo" class="tabInfo">
                            @Html.Hidden("FDepartment", @ViewData["FDepartment"])
                            @Html.Hidden("PName", @ViewData["PName"])
                            @Html.Hidden("Department", @ViewData["Department"])
                            @Html.Hidden("Job", @ViewData["Job"])
                            @Html.Hidden("Phone", @ViewData["Phone"])
                            @Html.Hidden("Mobile", @ViewData["Mobile"])
                            @Html.Hidden("Email", @ViewData["Email"])
                        </table>
                    </div>
                </div>
                <br />
                <div>
                    <table>
                        <tr>
                            <td>
                                @if (Rights.IndexOf(",Y19,") >= 0)
                                {
                                    <input class="btnL" type="button" value="保存基础信息" id="Save" style="margin-left: 700px;" />
                                }
                            </td>
                        </tr>
                    </table>
                </div>
                ---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
                      <br />
                <div id="next" style="margin-bottom: 10px;">
                    <input type="button" id="zizhi" value="资质信息" class="btnTw" style="cursor: pointer" />
                    <input type="button" id="zhenshu" value="认证证书" class="btnTh" style="cursor: pointer" />
                    <input type="button" id="product" value="拟购产品" class="btnTh" style="cursor: pointer" />
                    <input type="button" id="server" value="拟购服务" class="btnTh" style="cursor: pointer" />
                    <input type="button" id="Ward" value="曾获奖项" class="btnTh" style="cursor: pointer" />
                    <input type="button" id="Price" value="报价/比价单" class="btnTh" style="cursor: pointer" />


                    <div id="one" style="border: 1px solid #707070; width: 99%;">
                        <div style="background-color: #0094ff; margin-top: 10px; height: 25px; width: 100%; padding-top: 10px;"><span style="color: white; margin-left: 30px;"><b>新增资质信息</b> </span></div>
                        <div style="margin-top: 5px; margin-left: 10px;">
                            @if (Rights.IndexOf(",Y19,") >= 0)
                            {
                                <input type="button" value="新增资质 " class="btn" id="AddZiZhi" style="background-color: gray; cursor: pointer" />
                            }
                        </div>
                        <div id="bor" style="width: 1000px; margin-top: 5px; margin-left: 10px;">
                            <table id="list" class="scroll" style="width: 100%;"></table>
                            <div id="pager" class="scroll" style="text-align: center; width: 100%;"></div>
                        </div>
                    </div>
                    <div id="two" style="border: 1px solid #707070; width: 99%;">
                        <div style="background-color: #0094ff; margin-top: 10px; height: 25px; width: 100%; padding-top: 10px;"><span style="color: white; margin-left: 30px;"><b>新增认证证书</b></span></div>
                        <div style="margin-top: 5px; margin-left: 10px;">
                            @if (Rights.IndexOf(",Y19,") >= 0)
                            {
                                <input type="button" value="新增证书 " class="btn" id="AddZhenShu" style="background-color: gray; cursor: pointer" />
                            }
                        </div>
                        <div id="bor1" style="width: 1000px; margin-top: 5px; margin-left: 10px;">
                            <table id="list1" class="scroll" style="width: 100%;"></table>
                            <div id="pager1" class="scroll" style="text-align: center; width: 100%;"></div>
                        </div>
                    </div>
                    <div id="three" style="border: 1px solid #707070; width: 99%;">
                        <div style="background-color: #0094ff; margin-top: 10px; height: 25px; width: 100%; padding-top: 10px;"><span style="color: white; margin-left: 30px;"><b>拟购产品</b></span></div>
                        <div style="margin-top: 5px; margin-left: 10px;">
                            @if (Rights.IndexOf(",Y19,") >= 0)
                            {
                                <input type="button" value="新增产品 " class="btn" id="AddPro" style="background-color: gray; cursor: pointer" />
                            }
                        </div>
                        <div id="bor2" style="width: 1000px; margin-top: 5px; margin-left: 10px;">
                            <table id="list2" class="scroll" style="width: 100%;"></table>
                            <div id="pager2" class="scroll" style="text-align: center; width: 100%;"></div>
                        </div>
                    </div>
                    <div id="four" style="border: 1px solid #707070; width: 99%;">
                        <div style="background-color: #0094ff; margin-top: 10px; height: 25px; width: 100%; padding-top: 10px;"><span style="color: white; margin-left: 30px;"><b>拟购服务</b></span></div>
                        <div style="margin-top: 5px; margin-left: 10px;">
                            @if (Rights.IndexOf(",Y19,") >= 0)
                            {
                                <input type="button" value="新增服务 " class="btn" id="AddServer" style="background-color: gray; cursor: pointer" />
                            }
                        </div>
                        <div id="bor3" style="width: 1000px; margin-top: 5px; margin-left: 10px;">
                            <table id="list3" class="scroll" style="width: 100%;"></table>
                            <div id="pager3" class="scroll" style="text-align: center; width: 100%;"></div>
                        </div>
                    </div>
                    <div id="five1" style="border: 1px solid #707070; width: 99%;">
                        <div style="background-color: #0094ff; margin-top: 10px; height: 25px; width: 100%; padding-top: 10px;"><span style="color: white; margin-left: 30px;"><b>曾获奖项</b></span></div>
                        <div style="margin-top: 5px; margin-left: 10px;">
                            @if (Rights.IndexOf(",Y19,") >= 0)
                            {
                                <input type="button" value="上传曾获奖项 " class="btnL" id="AddWard" style="background-color: gray; cursor: pointer" />
                            }
                        </div>
                        <div id="bor5" style="width: 1000px; margin-top: 5px; margin-left: 10px;">
                            <table id="list5" class="scroll" style="width: 100%;"></table>
                            <div id="pager5" class="scroll" style="text-align: center; width: 100%;"></div>
                        </div>
                    </div>
                    <div id="six" style="border: 1px solid #707070; width: 99%;">
                        <div style="background-color: #0094ff; margin-top: 10px; height: 25px; width: 100%; padding-top: 10px;"><span style="color: white; margin-left: 30px;"><b>询价/比价单</b></span></div>
                        <div style="margin-top: 5px; margin-left: 10px;">
                            @if (Rights.IndexOf(",Y19,") >= 0)
                            {
                                <input type="button" value="询价/比价单" class="btnL" id="AddPrice" style="background-color: gray; cursor: pointer" />
                            }
                        </div>
                        <div id="bor6" style="width: 1000px; margin-top: 5px; margin-left: 10px;">
                            <table id="list6" class="scroll" style="width: 100%;"></table>
                            <div id="pager6" class="scroll" style="text-align: center; width: 100%;"></div>
                        </div>
                    </div>

                </div>
            </div>
            @if (Rights.IndexOf(",Y19,") >= 0)
            {
                <input type="button" class="btnLL" value="新增下一个供应商" id="Reset" style="margin-left: 80%;" />
            }
        </div>
          
       
    }

</body>
</html>
