@{
    ViewBag.Title = "LoadRK";
}

<!DOCTYPE html>
<html>
<head>
    <title>OfferManage</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ProduceManage/LoadRK.js")" type="text/javascript"></script>
</head>
<body>
    <div id="pageContent">
        <div class="mainHead">
             @ViewData["m"]
        </div>
    </div>
   @* <div id="bor" style="width: 100%; margin-top: 5px; margin-left: 5px;">
        <table cellpadding="0" cellspacing="0" border="0" id="list" class="scroll" style="width: 100%;"></table>
        <div id="pager" class="scroll" style="text-align: center; width: 100%;"></div>
    </div>*@
     <div id="RK" style="display: none">
        <table class="tabInfo" cellpadding="0" style="width: 98%; text-align: center">
            <tr>
                <td>完成日期:</td>
                <td>@ViewData["FinishTime"]  </td>
                <td>入库日期:</td>
                <td>@ViewData["StockInTime"] </td>
                <td>入库库房:</td>
                <td>@ViewData["HouseID"] </td>
            </tr>
            <tr>
                <td>入库批次:</td>
                <td>@ViewData["Batch"] </td>
                 <td>入库说明:</td>
                <td>@ViewData["StockRemark"] </td>
                <td>库管员:</td>
                <td>@ViewData["Storekeeper"] </td>
            </tr>
            <tr>
                <td>入库人:</td>
                <td>@ViewData["StockInUser"] </td>
            </tr>
        </table>
    </div>
    <div id="bor1" style="width: 100%; margin-top: 5px; margin-left: 5px;">
        <table cellpadding="0" cellspacing="0" border="0" id="list1" class="scroll" style="width: 100%;"></table>
        <div id="pager1" class="scroll" style="text-align: center; width: 100%;"></div>
    </div>
</body>
</html>


