@using TECOCITY_BGOI;
@{
    Layout = null;
}

<!DOCTYPE html>
@model ProduceList
<html>
<head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
    @*<meta name="viewport" content="width=device-width" />*@
    <title>InventoryFirstPage</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>


    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/ProduceManage/Productstorage.js")" type="text/javascript"></script>
    <style>
        .table_style tr td
        {
            text-align: center;
        }

        .ui-jqgrid tr.jqgrow td
        {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
        }

        .RowClass
        {
            background-color: #efd2d2;
        }
    </style>
</head>

<body>
    @{
        string Rights = TECOCITY_BGOI.GAccount.GetAccountInfo().Rights;
    }
    <form method="post">
        <div id="pageContent">
            <div class="mainHead">
                <img src="../images/house.png" class="house" />&nbsp;&nbsp;&nbsp;&nbsp;当前位置>><span style="color: #000099;">生产任务</span>>>完成入库</div>
            <div id="search" style="height: 65px;">
                <table class="tabSearch" cellpadding="0" cellspacing="0" style="">
                    <tr>
                        <td>入库单号 @Html.TextBoxFor(model => Model.RKID, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.RKID) &nbsp;&nbsp;&nbsp;&nbsp;
                     产    品 @Html.TextBoxFor(model => Model.OrderContent, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.OrderContent) &nbsp;&nbsp;&nbsp;&nbsp;
                     
                        </td>
                    </tr>
                    <tr>
                        <td>入库日期
                            <input type="text" id="Starts" onclick="WdatePicker()" class="Wdate" style="width: 170px;" />
                            &nbsp;&nbsp;&nbsp;&nbsp;
                     至 
                            <input type="text" id="Starte" onclick="WdatePicker()" class="Wdate" style="width: 170px;" />
                            &nbsp;&nbsp;&nbsp;&nbsp;
                        </td>
                        <td colspan="2" align="right">
                            <input class="btnL" type="button" value="查  询" onclick="Search()" />
                        </td>
                    </tr>
                </table>
                @* <input class="btnL" type="button"  value="查  询" onclick="Search()"/>*@
            </div>
            <div style="margin-top: 5px; margin-left: 10px;">
                @if (Rights.IndexOf(",Y5,") >= 0)
                {
                    <input class="btnL" type="button" id="XiuGai" value="修  改" onclick="UpdateRK()" /> 
                }
                @if (Rights.IndexOf(",Y6,") >= 0)
                {
                    <input class="btnL" type="button" id="CheXiao" value="撤  销" onclick="CXRK()" /> 
                }
                <input class="btnL" type="button" id="XiangXi" value="详  细" onclick="RKDetail()" />
                <input class="btnL" type="button" id="DaYin" value="打  印" />
            </div>
            <div id="bor" style="width: 100%; margin-top: 5px; margin-left: 10px;">
                <table id="list" class="scroll" style="width: 100%;"></table>
                <div id="pager" class="scroll" style="text-align: center; width: 100%;"></div>
            </div>
            <input type="button" id="CP" class="btnTw" style="margin-left: 10px;" value="物品详细" />
            <input type="button" id="JU" class="btnTh" value="相关单据" />
            <div id="bor1" style="width: 100%; margin-top: 5px; margin-left: 10px;">
                <table id="list1" class="scroll" style="width: 100%;"></table>
                <div id="pager1" class="scroll" style="text-align: center; width: 100%;"></div>
            </div>
            <div id="bor2" style="width: 100%; margin-left: 5px; overflow-y: scroll; max-height: 100px">
                <table cellpadding=" 0" cellspacing="0" border="0" id="Billlist" class="table_style" style="width: 100%;">
                    <tr>
                        <th style="width: 33%;" class="th">描述</th>
                        <th style="width: 33%;" class="th">编号</th>
                        <th style="width: 33%;" class="th">操作</th>
                    </tr>
                    <tbody id="ReceiveBill"></tbody>
                </table>
                <div id="pager2" class="scroll" style="text-align: center; width: 100%;"></div>
            </div>
        </div>
    </form>
</body>
</html>

