@{
    ViewBag.Title = "UpdateOrdersInfo";
}

@using TECOCITY_BGOI;
@model tk_MaterialForm
<!DOCTYPE html>
<html>
<head>
    <title>RecordManage</title>
    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")" type="text/javascript"></script>
@*    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>*@

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/ProduceManage/UpdateMaterialForm.js")" type="text/javascript"></script>
    <style type="text/css">
        .RowClass
        {
            background-color: #efd2d2;
        }

         .new
        {
            width: 135px;
        }

    </style>
</head>
<body>
    <form id="form1" method="post">
        <div id="tabTitile"><span style="margin-left: 10px; float: left;">领料单编号：@Model.LLID</span></div>@Html.HiddenFor(model => Model.LLID)@Html.HiddenFor(model => Model.HouseID) @Html.HiddenFor(model => Model.RWIDDID)
        <div style="height: 520px; overflow-y: auto;">
            <h1 style="text-align: center">修改领料单信息</h1>
            <div id="b" style="height: 5px"></div>
            <div id="bb" style="background-color: #0099FF; Color: white; height: 20px; width: 100%; font-size: 15px; text-align: left; line-height: 20px; padding-top: 5px;">基本信息</div>
            <table class="tabInfo" cellpadding="0" style="width: 98%;">
                <tr>
                    <td>任务单号:</td>
                    <td>@Model.RWID  @Html.ValidationMessageFor(model => model.RWID)@Html.HiddenFor(model => Model.RWID) </td>
                    <td>编号:</td>
                    <td>@Html.TextBoxFor(model => Model.ID)@Html.ValidationMessageFor(model => model.ID) </td>
                </tr>
                <tr>
                    <td>领料部门:</td>
                    <td>@Html.TextBoxFor(model => Model.MaterialDepartment)@Html.ValidationMessageFor(model => model.MaterialDepartment) </td>
                    <td>开单日期:</td>
                    <td>@Html.TextBox("CreateTime", ViewData["CreateTime"], new { @class = "txtCss", @readonly = "readonly", onclick = "WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" }) @Html.ValidationMessageFor(model => ViewData["CreateTime"]) </td>
                </tr>

            </table>
            <div id="b" style="height: 5px"></div>
            <div id="bb" style="background-color: #0099FF; Color: white; height: 20px; width: 100%; font-size: 15px; text-align: left; line-height: 20px; padding-top: 5px;">物品信息</div>
            <div id="a" style="padding-top: 10px">
            
                <div style="overflow-y: scroll; max-height: 90px;">
                    <table id="myTable" cellpadding="0" cellspacing="0" class="tabInfo" style="width: 98%;text-align:center">
                        <tr align="center" valign="middle">
                            <th style="width: 5%;" class="th">序号
                            </th>
                            <th style="width: 15%;" class="th">物品编码
                            </th>
                            <th style="width: 15%;" class="th">物品名称
                            </th>
                            <th style="width: 15%;" class="th">物品规格
                            </th>
                            <th style="width: 10%;" class="th">单位
                            </th>
                            <th style="width: 10%;" class="th">数量
                            </th>
                            <th style="width: 10%;" class="th">备注
                            </th>
                        </tr>
                        <tbody id="DetailInfos"></tbody>
                    </table>
                </div>
            <div id="b" style="height: 5px"></div>
            <div id="bb" style="background-color: #0099FF; Color: white; height: 20px; width: 100%; font-size: 15px; text-align: left; line-height: 20px; padding-top: 5px;">领料信息</div>
                <div id="c" style="width: 50px; height: 20px">
                <input type="button" class="aa" value="添加" onclick="AddMaterial();" />
            </div>
            <div id="a" style="padding-top: 10px">
                <div style="overflow-y: scroll; max-height: 90px;">
                    <table id="myTable" cellpadding="0" cellspacing="0" class="tabInfo" style="width: 98%;text-align:center">
                        <tr align="center" valign="middle">
                            <th style="width: 5%;" class="th">序号
                            </th>
                            <th style="width: 15%;" class="th">零件编码
                            </th>
                            <th style="width: 10%;" class="th">零件名称
                            </th>
                            <th style="width: 15%;" class="th">图号和规格
                            </th>
                            <th style="width: 5%;" class="th">单台数量
                            </th>
                            <th style="width: 10%;" class="th">单位
                            </th>
                            <th style="width: 5%;" class="th">领出数量
                            </th>
                            <th style="width: 10%;" class="th">进货批次或日期
                            </th>
                            <th style="width: 10%;" class="th">备注
                            </th>
                            <th style="width: 10%;" class="th">操作
                            </th>
                            <th style="width: 10%; display:none" class="th" id="KCSL">库存数量
                            </th>
                        </tr>
                        <tbody id="DetailInfo"></tbody>
                    </table>
                </div>
                <div id="b" style="height: 5px"></div>
                <div id="bb" style="background-color: #0099FF; Color: white; height: 20px; width: 100%; font-size: 15px; text-align: left; line-height: 20px; padding-top: 5px;">其他信息</div>
                <table id="Botom" class=" tabInfo">
                    <tr>
                        <td>领料人</td>
                        <td>@Html.TextBoxFor(model => Model.OrderContent) @Html.ValidationMessageFor(model => model.OrderContent) </td>
                        <td>库管员</td>
                        <td>@Html.TextBoxFor(model => Model.SpecsModels) @Html.ValidationMessageFor(model => model.SpecsModels) </td>
                         <td>库房 </td>
                        <td>@Html.DropDownList("HouseIDs", ProduceMan.GetHouseIDs(), new { @class = "new" ,onchange="getAllNum()"})</td>
                    </tr>
                    <tr>
                        <td>领料日期</td>
                        <td>@Html.TextBox("MaterialTime", ViewData["MaterialTime"], new { @class = "txtCss", @readonly = "readonly", onclick = "WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" }) @Html.ValidationMessageFor(model => ViewData["MaterialTime"]) </td>
                    </tr>
                </table>
            </div>
                <div style="text-align:center">
            <input type="button" class="btn" id="btnSaveOrder" value="保存"/>
            <input type="button" class="btn" id="btnExit" value="取消" /></div>
        </div>
</div>
    </form>
</body>
</html>
