@{
    ViewBag.Title = "";
}

@{
    Layout = null;
}

@using TECOCITY_BGOI;
@model tk_ReportInfo

<html>
<head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>UpdateBG</title>
    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Inventory/AddStockIn.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/cmm_ClassControl.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/ProduceManage/UpdateBG.js")" type="text/javascript"></script>
    <style type="text/css">
        .txtCss
        {
            width: 160px;
        }

        .RowClass
        {
            background-color: #efd2d2;
        }
    </style>
</head>
<body>

    @using (Html.BeginForm("updateBG", "ProduceManage", FormMethod.Post, new { id = "from1", action = "SaveUpdateFileInfoIn", enctype = "multipart/form-data" }))
    {
        <div id="tabTitile"><span style="margin-left: 10px; float: left;">报告单编号：@Model.BGID</span></div>@Html.HiddenFor(model => model.BGID)
        @Html.Hidden("msg", @ViewData["msg"])
        <div id="search1" style="height: 400px; width: 780px;">
            <h1>修改检验报告</h1>
            <div style="height: 30px;">
                <table class="tabSearch" cellpadding="0" cellspacing="0" style="">
                    <tr>
                        <td>任务单号 @Model.RWID &nbsp;&nbsp;@Html.HiddenFor(model => model.RWID)
                            上传日期<input type="text" id="uploadtime" name="uploadtime" onclick="WdatePicker()" class="Wdate" style="width: 135px;" />
                        </td>
                    </tr>
                </table>
            </div>
            <div id="aa" style="height: 5px"></div>
            <div id="a" style="background-color: #0099FF; Color: white; height: 20px; width: 100%; font-size: 15px; text-align: left; line-height: 20px">检验产品信息</div>
            <div style="width: 97%; margin-left: 8px; margin-top: 10px;">
                <tr>
                    <div style="overflow-y: scroll; max-height: 200px;">
                        <table id="aaa" cellpadding="0" cellspacing="0" class="tabInfo">
                            <tr align="center" valign="middle">

                                <th style="width: 5%;" class="th">序号
                                </th>
                                <th style="width: 15%;" class="th">产品编码
                                </th>
                                <th style="width: 20%;" class="th">产品名称
                                </th>
                                <th style="width: 15%;" class="th">规格型号
                                </th>
                                <th style="width: 10%;" class="th">单位
                                </th>
                                <th style="width: 10%;" class="th">数量
                                </th>
                                <th style="width: 20%;" class="th">备注
                                </th>
                                <th style="display: none" class="th">DID
                                </th>
                            </tr>
                            <tbody id="DetailInfo">
                            </tbody>
                        </table>
                    </div>
                </tr>
            </div>
            <div id="b" style="height: 5px"></div>
            <div id="bb" style="background-color: #0099FF; Color: white; height: 20px; width: 100%; font-size: 15px; text-align: left; line-height: 20px; padding-top: 5px;">上传信息</div>
            <div>
                <input type="button" id="addbg" value="添加" style="padding-left: 10px; float: left" />@ViewBag.message </div>
            <table class="tabInfo" style="width: 97%; margin-left: 8px; margin-top: 10px;">
                <tr>
                    <td>
                        <div style="overflow-y: scroll; max-height: 80px;">
                            <table id="myTable" cellpadding="0" cellspacing="0" class="tabInfo">
                                <tr align="center" valign="middle">
                                    <th style="width: 5%;" class="th">序号
                                    </th>
                                    <th style="width: 15%;" class="th">名称
                                    </th>
                                    <th style="width: 25%;" class="th">类型
                                    </th>
                                    <th style="width: 15%;" class="th">名称
                                    </th>
                                    <th style="width: 30%;" class="th">上传内容
                                    </th>
                                    <th style="width: 10%;" class="th">操作
                                    </th>
                                    <th style="display: none" class="th">DID
                                    </th>
                                </tr>
                                <tbody id="DetailInfos">
                                </tbody>
                            </table>
                        </div>
                    </td>
                </tr>
            </table>
            <div id="1b" style="height: 5px"></div>
            <div id="bb1" style="background-color: #0099FF; Color: white; height: 20px; width: 100%; font-size: 15px; text-align: left; line-height: 20px; padding-top: 5px;">其他信息</div>
            <div style="height: 50px;">
                <table class="tabSearch" cellpadding="0" cellspacing="0" style="">
                    <tr>
                        <td>备注 @Html.TextBoxFor(model => model.Remarks, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.Remarks) &nbsp;&nbsp;
                     记录人 @Html.TextBoxFor(model => model.CreatePerson, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.CreatePerson)
                            @Html.Hidden("DID")
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="margin-top: 20px; margin-left: 0%;">
            <input class="btn" type="button" id="btnSave" value="保存" />
            <input class="btn" type="button" id="Cancel" value="取消" />
            <input type="hidden" id="bbb" name="bbb" />
            <input type="hidden" id="q" name="q" />
        </div>  
    }

</body>
</html>
