@using TECOCITY_BGOI;
@{
    Layout = null;
}
@model InventoryFirstPageQuery

<!DOCTYPE html>

<html>
<head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
    @*<meta name="viewport" content="width=device-width" />*@
    <title>InventoryFirstPage</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/InventoryManage/InventoryFirstPage.js")" type="text/javascript"></script>
    @{
        Acc_Account unitname = GAccount.GetAccountInfo();
        string UnitIDnew = unitname.UnitID;
        string UnitIDo = unitname.Path;
        string Rights = unitname.Rights;
        
    }
    @Html.Hidden("UnitIDnew", UnitIDnew)
    @Html.Hidden("UnitIDo", UnitIDo)
    <script type="text/javascript">
        $(document).ready(function () {
            var UnitIDnew = $("#UnitIDo").val();
            if (UnitIDnew.indexOf(".49.") > 0) {//发展用户
                var hutype = document.getElementById("hutype");
                hutype.style.display = "none";
                var hutype1 = document.getElementById("hutype1");
                hutype1.style.display = "none";
            }
        });
    </script>
    <style>
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
        }

        #ulGJ li:hover {
            background: #bcf492;
        }

        .selDiv {
            /*margin-left:-100%;*/
            background: #f5f5f5;
            text-align: center;
            display: none;
            width: 190px;
            max-height: 116px;
            overflow-x: hidden;
            overflow-y: scroll;
            position: absolute;
            border: 1px solid #7f9cba;
        }

        .selDivp {
            /*margin-left:-100%;*/
            background: #f5f5f5;
            text-align: center;
            display: none;
            width: 150px;
            max-height: 116px;
            overflow-x: hidden;
            overflow-y: scroll;
            position: absolute;
            border: 1px solid #7f9cba;
        }
    </style>
</head>

<body>
    @using (Html.BeginForm("InventoryToExcel", "InventoryManage", FormMethod.Post, new { id = "GForm", onsubmit = "return returnConfirm();" }))
    {@Html.HiddenFor(model => model.PID)
        <div id="pageContent">
            <div class="mainHead">
                <img src="../images/house.png" class="house" />&nbsp;&nbsp;&nbsp;&nbsp;当前位置>><span style="color: #000099;">库存管理</span>>>产品库存
            </div>
            <div id="search" style="height: 80px;">
                <table class="tabSearch" cellpadding="0" cellspacing="0">
                    <tr style="height: 30px;">
                        <td id="hutype">产品库类型</td>
                        <td id="hutype1">@Html.DropDownList("ProType", InventoryMan.GetProType(), new { @class = "txtCss", style = "width:167px;", @onchange = "changhouse(this.value)" })</td>@*, @onchange = "changcollege(this.value)" *@
                        <td>产品编号</td>@Html.Hidden("PIDN", "")
                        <td>@Html.TextBox("PIDCX", "", new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.PID)</td>
                        <td>产品名称</td>@*,@onpropertychange="GaiBian()" *@
                        <td>@Html.TextBox("ProName", "", new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.ProName)</td>
                        <td>规格型号</td>
                        @* <td>@Html.DropDownList("Spec", InventoryMan.GetSpec(), new { @class = "txtCss", style = "width:167px;" })</td>*@
                        <td>@Html.TextBox("Spec", "", new { style = "width:190px;" })@*, onpropertychange = "BuildUnitkey()"*@
                            <div id="divGJ" class="selDiv" style="z-index:1000" onmouseover="isOut=false;" onmouseout="isOut=true;">
                                <ul id="ulGJ" style="list-style: none;">
                                </ul>
                            </div>
                        </td>

                        @*     @if (UnitIDo.IndexOf(".37.") >= 0)
                        {
                            <td>规格型号</td>
                            <td>@Html.TextBox("Spec", "", new { @class = "txtCss" })</td>
                        }
                        else
                        {
                            <td>规格型号</td>
                            <td>@Html.DropDownList("Spec", InventoryMan.GetSpec(), new { @class = "txtCss", style = "width:167px;" })</td>
                        }*@
                    </tr>
                    <tr style="height: 30px;">
                        <td>所属部门</td>
                        <td>@Html.DropDownList("HouseID", InventoryMan.GetDepName(), new { @class = "txtCss", style = "width:167px;", @onchange = "changhouse(this.value)" })</td>
                        <td id="one">一级仓库</td>
                        <td>
                            <select id="IsHouseIDone" style="width: 167px" runat="server" onchange="chang1()">
                                <option value="0">--请选择--</option>
                            </select>
                            @Html.Hidden("IsHouseIDoneto", "")

                        </td>
                        <td id="two">二级仓库</td>
                        <td>
                            @Html.Hidden("IsHouseIDtwoto", "")
                            <select id="IsHouseIDtwo" style="width: 167px" runat="server" onchange="chang2()">
                                <option value="0">--请选择--</option>
                            </select></td>
                        <td colspan="2">
                            <input type="button" id="CX" class="btn" value="查询" onclick="Search()" />
                        </td>
                    </tr>
                </table>
            </div>

            <div style="margin-top: 5px; margin-left: 10px; height: 30px">
                <input id="PIDnew" type="hidden" />
                @* @if (Rights.IndexOf(",Y1,") >= 0)
                {
                    <input class="btn" type="button" value="创建库房" onclick="AddInventoryFirstPage()" />
                }*@
               
                <input class="btn" type="submit" id="DaoOut" onclick="FX()" style="float: right; margin-right: 15px;" value="导出" />
                <input type="button" class="btn" style="float: right; margin-right: 15px;" id="btnPrint" value="打  印" />
                <input id="ProTypejl" type="hidden" />
                <input id="HouseIDjl" type="hidden" />
            </div>

            <div id="alarm1" style="display: none; position: absolute; right: 10px; bottom: 5px; height: auto; width: 220px; z-index: 999; background-color: white; border: 2px solid #3598db;">
                <div style="width: 100%; height: 20px; background-color: #3598db; line-height: 20px;"><a onclick="closeAlarm()" style="color: white; font-weight: bold; padding-left: 180px; cursor: pointer;">关 闭</a></div>
                <div id="content1" style="margin-left: 15px; color: #3598db; font-weight: bold; overflow-y: auto; height: auto"></div>
            </div>

            <div id="bor" style="width: 100%; margin-top: 5px; margin-left: 10px;">
                <table id="list" class="scroll" style="width: 100%;"></table>
                <div id="pager" class="scroll" style="text-align: center; width: 100%;"></div>
            </div>
        </div>
    }
</body>
</html>
