@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LowWarn</title>

    <link href="@Url.Content("~/CSS/Com.css")" type="text/css" rel="stylesheet"/>
    <link href="@Url.Content("~/CSS/Main/Main.css")" type="text/css" rel="stylesheet"/>
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/InventoryManage/LowWarn.js")"></script>

</head>
<body style="background-color:white; overflow-y:auto;">
    <div>
        <table id="tabData" class="tabInfo" style=" text-align:center; border:solid; border-width:1px; margin-top:0px;"> 
            <thead>
                <tr id="line1"></tr>
            </thead>
            <tbody id="tabList" class="tabInfo">

            </tbody>

        </table> 
    </div>
</body>
</html>
