@{
    Layout = null;
}
@using TECOCITY_BGOI
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>AddBasicGrid</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript" charset=“UTF-8″></script>
    <script src="@Url.Content("~/Scripts/Sales/RetailSales/AddBasicGrid.js")" type="text/javascript"></script>
</head>
<body>
    @using (Html.BeginForm("AddBasicGrid", "SalesRetail", FormMethod.Post, new { id = "GForm" }))
    {
        @Html.Hidden("Type", @ViewData["type"])
        <div id="hole" style="overflow-y: auto;">
            <table class="tabInfo" style="width: 97%; margin-left: 8px; margin-top: 10px;">

                <tr>
                    <td class="textLeft">内容</td>
                    <td class="textRight" colspan="3">@Html.TextBox("Text", "", new { @class = "txtCss" })<span style="color: red;">*</span></td>
                </tr>

            </table>
            <div style="margin-top: 10px; margin-left: 70%">
                <input class="btn" type="button" id="btnSave" value="确定" />
            </div>


        </div>
    }
</body>
</html>
