@{
    Layout = null;
}

<!DOCTYPE html>
@using TECOCITY_BGOI
@model tk_InternalOrder

<html>
<head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
    @* <meta name="viewport" content="width=device-width" />*@
    <title>ApplyInternal</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Sales/RecordInfo.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"  type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    @*<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>*@
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cmm_Tables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cmm_ClassControl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Sales/RetailSales/ApplyInternal.js")" type="text/javascript"></script>

</head>
<body>
    @using (Html.BeginForm("ApplyInternal", "SalesRetail", FormMethod.Post, new { id = "form1", onsubmit = "return returnConfirm();" }))
    {
        <div id="tabTitile"><span style="margin-left: 10px; float: left;"><span id="spID">内购申请单号：</span>@Model.IOID</span>@Html.HiddenFor(model => model.IOID)</div>
        <div style="height: 480px; width: 98%; overflow-y: auto;">
            <table class="tabInfo" style="width: 99%; margin-top: 10px; height: 400px; overflow-y: auto;">
                <tr style="text-align: center; font: bold; margin-top: 20px; font-size: 24px;">
                    <td colspan="4"><span id="spBill">内购单</span></td>
                </tr>
                <tr>
                    <td>申请日期：
                    </td>
                    <td colspan="3">@*@Html.TextBoxFor(model => model.OrderDate, new { @class = "txtCss", @readonly = "readonly", onclick = "WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss'})" })*@
                        @Html.TextBoxFor(model => model.OrderDate, new { @class = "txtCss", @readonly = "readonly", Value = String.Format("{0:yyyy-MM-dd HH:mm:ss}", DateTime.Now), onclick = "WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd HH:mm:ss'})" })
                    </td>
                </tr>
                <tr style="background-color: #88c9e9;  text-align: left;">
                    <td colspan="4"><span id="spProduct">内购产品</span></td>
                </tr>
                <tr>
                    <td colspan="4">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="button" class="btn" value="添加物品"
                        id="btnAdd" name="btnAdd" onclick="CheckDetail()" />&nbsp;
                        <input type="button" id="btnDel" class="btn" onclick="DelRow();" name="btnDel" value="删除" />
                        <div id="divInter" style="height: 80px; overflow-y: scroll;">
                            <table id="myTable" cellpadding="0" cellspacing="0" class="tabInfo">
                                <tr align="center" valign="middle">
                                    <th style="width: 5%;" class="th">序号
                                    </th>
                                    <th style="width: 9%;" class="th">产品编码
                                    </th>
                                    <th style="width: 9%;" class="th">产品名称
                                    </th>
                                    <th style="width: 9%;" class="th">产品大类
                                    </th>
                                    <th style="width: 9%;" class="th">规格型号
                                    </th>
                                    <th style="width: 5%;" class="th">数量
                                    </th>
                                    <th style="width: 7%;" class="th">零售价
                                    </th>
                                    <th style="width: 9%;" class="th">折扣
                                    </th>
                                    <th style="width: 9%;" class="th">收货金额
                                    </th>
                                    <th style="width: 11%;" class="th">收货方式
                                    </th>
                                    <th style="width: 18%;" class="th">备注
                                    </th>
                                </tr>
                                <tbody id="DetailInfo"></tbody>
                            </table>
                        </div>
                        <div id="divSend" style="height: 80px; overflow-y: scroll;">
                            <table id="SendTable" cellpadding="0" cellspacing="0" class="tabInfo">
                                <tr align="center" valign="middle">
                                    <th style="width: 5%;" class="th">序号
                                    </th>
                                    <th style="width: 13%;" class="th">产品编码
                                    </th>
                                    <th style="width: 13%;" class="th">产品名称
                                    </th>
                                    <th style="width: 13%;" class="th">产品大类
                                    </th>
                                    <th style="width: 13%;" class="th">规格型号
                                    </th>
                                    <th style="width: 13%;" class="th">数量
                                    </th>
                                    <th style="width: 13%;" class="th">零售价
                                    </th>
                                    <th style="width: 17%;" class="th">备注
                                    </th>
                                </tr>
                                <tbody id="SendDetailInfo"></tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>合计：</td>
                    <td colspan="3">
                        @Html.TextBoxFor(model => model.GoodsTotal, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.GoodsTotal)
                    </td>
                </tr>
                <tr style="background-color: #88c9e9; text-align: left;">
                    <td style="width: 25%;" colspan="4">申请信息</td>
                </tr>
                <tr>
                    <td>申请人：</td>
                    <td>@Html.DropDownListFor(model => model.Applyer, SalesRetailMan.GetUserListitem(), new { @Style = "width:120px;" })</td>
                    <td>联系电话：</td>
                    <td>@Html.TextBoxFor(model => model.ApplyTel, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.ApplyTel)</td>
                </tr>
                <tr>
                    <td>内购公司商品使用人：</td>
                    <td>@Html.TextBoxFor(model => model.GoodsUser, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.GoodsUser)</td>
                    <td>联系电话：</td>
                    <td>@Html.TextBoxFor(model => model.UserTel, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.UserTel)</td>
                </tr>
                <tr id="trZS">
                    <td>客户地址:</td>@Html.HiddenFor(model => model.Type)
                    <td colspan="3">@Html.TextBoxFor(model => model.Address, new { @class = "txtCss", @Style = "width:90%;" })@Html.ValidationMessageFor(model => model.Address)</td>
                </tr>
                <tr id="trZS0">
                    <td>赠送原因:</td>
                    <td colspan="3">@Html.TextAreaFor(model => model.SendReason, new { @class = "txtCss", @Style = "width:90%;height:80px;" })@Html.ValidationMessageFor(model => model.SendReason)</td>
                </tr>
                <tr id="trZS1">
                    <td>提货收款人：</td>
                    <td colspan="3">@Html.TextBoxFor(model => model.Recipiments, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.Recipiments)</td>
                </tr>
                <tr id="trZS2">
                    <td>赠送部门：</td>
                    <td >@Html.TextBoxFor(model => model.SendDepartment, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.Recipiments)</td>
                    <td>赠送备注：</td>
                    <td>@Html.TextBoxFor(model => model.SendRemark, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.Recipiments)</td>
                </tr>

                <tr>
                    <td>出库仓库：</td>
                    <td>@Html.DropDownListFor(model => model.Warehouse, SalesRetailMan.GetSelectListitem("Warehouse"), new { @Style = "width:120px;" })</td>
                    <td>主管负责人：</td>
                    <td>@Html.TextBoxFor(model => model.Steering, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.Steering)</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input type="submit"  id="btnSave" class="btn" name="btnSave" value="确 定" />
                        <input type="button" id="btnCancel" class="btn" name="btnSave" value="取 消" />
                    </td>
                </tr>
            </table>
        </div>
    }
</body>
</html>
