@{
    Layout = null;
}
@using TECOCITY_BGOI
@model tk_SalesGrid

<!DOCTYPE html>

<html>
<head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
    <title>PrototypeInfomation</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/Sales/RetailSales/ProtoInfomation.js")" type="text/javascript"></script>

</head>
<body>
    @using (Html.BeginForm("PrototypeInfomation", "SalesRetail", FormMethod.Post, new { id = "GForm" }))
    {
        <div id="pageContent" style="height: 500px;">
            <div class="mainHead">
                <img src="../images/house.png" class="house" />&nbsp;&nbsp;&nbsp;&nbsp;当前位置>>家用产品管理>>样机信息
            </div>
            <div style="width: 100%; height: 100%; margin-top: 10px;">
                <div id="AListInfo1" style="float: left; margin-left: 10px; width: 180px; height: 500px;">
                    <table id="RUnitList"></table>
                </div>
                <div style="float: left; width: 80%;">
                    <fieldset style="background-color: white;">
                        <legend></legend>
                        <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin-bottom: 5px; margin-left: 5px; margin-right: 5px; margin-top: 5px;">
                            <tr>
                                <td style="height: 25px;">样机类型</td>
                                <td>
                                    <select id="sltOperate" style="width: 100px;">
                                        <option value="0">上样</option>
                                        <option value="1">撤样</option>
                                    </select></td>
                                <td>规格型号</td>
                                <td>@Html.TextBoxFor(model => model.SpecsModels, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.SpecsModels)</td>
                                <td>申请人</td>
                                <td>@Html.TextBoxFor(model => model.ApplyMan, new { @class = "txtCss" })</td>
                            </tr>
                            <tr>
                                <td style="height: 25px;">销售日期</td>
                                <td colspan="4">
                                    @Html.TextBoxFor(model => model.StartDate, new { @class = "txtCss", @readonly = "readonly", onclick = "WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" })@Html.ValidationMessageFor(model => model.StartDate)~
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "txtCss", @readonly = "readonly", onclick = "WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" })@Html.ValidationMessageFor(model => model.EndDate)
                                </td>
                                <td>
                                    <input class="btn" style="float: right; margin-right: 10px;"  id="btnSearch" type="button" value="查  询" />
                                </td>
                            </tr>

                        </table>
                    </fieldset>
                    <div id="bor" style="width: 100%; margin-top: 5px;">
                        <table cellpadding="0" cellspacing="0" border="0" id="list" class="scroll" style="width: 100%;"></table>
                        <div id="pager" class="scroll" style="text-align: center; width: 100%;"></div>
                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
