@{
    Layout = null;
}
@using TECOCITY_BGOI
@model tk_SalesGrid

<!DOCTYPE html>

<html>
<head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
    <title>StaticsInternal</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/Sales/RetailSales/StaticsInternal.js")" type="text/javascript"></script>
</head>
<body>
    @using (Html.BeginForm("StaticsExcelInternal", "SalesRetail", FormMethod.Post, new { id = "GForm" }))
    {
        <div id="pageContent">
            <div class="mainHead">
                <img src="../images/house.png" class="house" />&nbsp;&nbsp;&nbsp;&nbsp;当前位置>><span style="color: #000099;">销售管理</span>>>统计分析>>内购产品销售统计
            </div>
            <div>
                <fieldset style="background-color: white;">
                    <legend></legend>
                    <table cellpadding="0" cellspacing="0" border="0" style="width: 100%; margin-bottom: 5px; margin-left: 5px; margin-right: 5px; margin-top: 5px;">
                        <tr>
                            <td style="height: 25px;">产品名称</td>
                            <td>@Html.TextBoxFor(model => model.SalesProduct, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.SalesProduct)</td>
                            <td>规格型号</td>
                            <td>@Html.TextBoxFor(model => model.SpecsModels, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.SpecsModels)</td>
                        </tr>
                        <tr>
                            <td style="height: 25px;">申请日期</td>
                            <td colspan="3">
                                @Html.TextBoxFor(model => model.StartDate, new { @class = "txtCss", @readonly = "readonly", onclick = "WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" })@Html.ValidationMessageFor(model => model.StartDate)~
                            @Html.TextBoxFor(model => model.EndDate, new { @class = "txtCss", @readonly = "readonly", onclick = "WdatePicker({skin:'whyGreen',dateFmt:'yyyy-MM-dd'})" })@Html.ValidationMessageFor(model => model.EndDate)
                            </td>
                        </tr>
                        <tr>
                            <td colspan="4" style="text-align: right;">
                                <input class="btn" id="btnSearch" type="button" value="查  询" />
                                &nbsp;&nbsp;&nbsp;
                                <input type="button" class="btn" id="btnPrint" value="打  印" />
                                &nbsp;&nbsp;&nbsp;
                                <input type="submit" class="btn" id="btnExcel" value="导  出" />
                                &nbsp;&nbsp;&nbsp;
                                <input type="button" class="btn" id="btnHK" value="确认回款" />
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </div>
            <div id="bor" style="width: 100%; margin-top: 5px; margin-left: 5px;">
                <table cellpadding="0" cellspacing="0" border="0" id="list" class="scroll" style="width: 100%;"></table>
                @*  <div id="pager" class="scroll" style="text-align: center; width: 100%;"></div>*@
            </div>
        </div>
    }
</body>
</html>
