@{
    Layout = null;
}
@{
    ViewBag.Title = "";
}
@using TECOCITY_BGOI;
@model UCertificatLend
<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>@ViewBag.Title</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/UserAptitude/LendAptitude.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript" charset=“UTF-8″></script>

</head>
@using (Html.BeginForm("LendAptitude", "UserAptitude", FormMethod.Post, new { id = "ProjectformInfo" }))
{
    <body>@Html.HiddenFor(model => model.StrID)
        <div id="hole" style="overflow-y: auto;">
            <table class="tabInfo" style="width: 97%; margin-left: 8px; margin-top: 10px;">

                <tr>
                    <td class="textLeft">人员id</td>
                    <td class="textRight" colspan="3">@Html.TextBoxFor(model => model.StrUserID, new { @class = "txtCss", @ReadOnly = "ReadOnly", onkeypress = "return !(event.keyCode==8)", onkeydown = "return !(event.keyCode==8)" }) </td>
                </tr>
                <tr>
                    <td class="textLeft">人员姓名</td>
                    <td class="textRight" colspan="3">@Html.TextBoxFor(model => model.StrUserName, new { @class = "txtCss", @ReadOnly = "ReadOnly", onkeypress = "return !(event.keyCode==8)", onkeydown = "return !(event.keyCode==8)" })</td>
                </tr>
                <tr>
                    <td class="textLeft">证书编号</td>
                    <td class="textRight">@Html.TextBoxFor(model => model.StrCertificatCode, new { @class = "txtCss", @ReadOnly = "ReadOnly", onkeypress = "return !(event.keyCode==8)", onkeydown = "return !(event.keyCode==8)" }) </td>
                </tr>
                <tr>
                    <td class="textLeft">借出时间</td>
                    <td class="textRight" colspan="3">@Html.TextBoxFor(model => model.StrLendDate, new { @class = "txtCss", onclick = "WdatePicker({dateFmt: 'yyyy-MM-dd' })" })<span style="color: red;">*</span></td>
                </tr>
                <tr>
                    <td class="textLeft">借出单位</td>
                    <td class="textRight" colspan="3">@Html.TextBoxFor(model => model.StrLendUnit, new { style = "width:80%" })<span style="color: red;">*</span></td>
                </tr>
                <tr>
                    <td class="textLeft">借出原因</td>
                    <td class="textRight" colspan="3">@Html.TextAreaFor(model => model.StrLendReason, new { style = "width:80%;height:100px;" })<span style="color: red;">*</span></td>
                </tr>
                <tr>
                    <td class="textLeft">备注</td>
                    <td class="textRight" colspan="3">@Html.TextAreaFor(model => model.StrRemark, new { style = "width:80%;height:100px;" })</td>
                </tr>

            </table>
            <div style="margin-top: 10px; margin-left: 80%">
                <input class="btn" type="button" id="charge" value="确定" />
            </div>


        </div>
    </body>
       
}
</html>
