@using TECOCITY_BGOI;
@{
    Layout = null;
}
@model tk_ProjectSearch
<!DOCTYPE html>

<html>
<head>
 <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
    @*<meta name="viewport" content="width=device-width" />*@
    <title>Warn</title>
   <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
     <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"  type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript" ></script>
    <script src="@Url.Content("~/Scripts/ProjectManage/MakePrice.js")" type="text/javascript"></script>
   <style>
       .ui-jqgrid tr.jqgrow td {
        white-space: normal !important;
        height:auto;
        vertical-align:text-top;
        padding-top:2px;
        }
       </style>
</head>
   
     @{
         string Rights = GAccount.GetAccountInfo().Rights;
    }
<body>
    @using (Html.BeginForm("MakePrice", "ProjectManage", FormMethod.Post, new { id = "GForm" }))
    {
       
    <div id="pageContent" style="overflow-y:auto;">
    <div class="mainHead"> <img src="../images/house.png" class="house"/>&nbsp;&nbsp;&nbsp;&nbsp;当前位置>><span style="color:#000099;">分项管理</span>>>项目报价</div>
     <div id="search" style="height:65px;">
         <div style="width:88%;float:left;height:63px;">
         <table class="tabSearch" cellpadding="0" cellspacing="0">
             <tr>
                 <td>内部编号 @Html.TextBoxFor(model => model.ProID, new { @class = "txtCss" }) @Html.ValidationMessageFor(model => model.ProID)
                     &nbsp;&nbsp;&nbsp;&nbsp;
                     立项时间 @Html.TextBoxFor(model => model.StartDate, new { onclick = "WdatePicker({dateFmt:'yyyy-MM-dd'})", @class = "txtCss" })@Html.ValidationMessageFor(model => model.StartDate) -  @Html.TextBoxFor(model => model.EndDate, new { onclick = "WdatePicker({dateFmt:'yyyy-MM-dd' })", @class = "txtCss" }) @Html.ValidationMessageFor(model => model.EndDate)
                 </td>
             </tr>
             <tr style="height:30px;">
                 <td>项目名称 @Html.TextBoxFor(model => model.Pname, new { @class = "txtCss" ,style="width:420px;"}) @Html.ValidationMessageFor(model => model.Pname)
                      &nbsp;&nbsp;&nbsp;&nbsp;项目负责人 @Html.TextBoxFor(model => model.Principal, new { @class = "txtCss"}) @Html.ValidationMessageFor(model => model.Principal)
                 </td>
             </tr>
         </table>
        </div>
        <div style="width:10%;height:63px;float:right;line-height:63px;"><input class="btn" style="margin-top:30px;" type="button"  value="查  询" onclick="reload()"/></div>
    </div>

    <div style="margin-top:3px;margin-left:10px;"> 
     @if (Rights.IndexOf(",Y17,") >= 0)
     {
    <input class="btn" type="button" id="XG"  value="修改"/>
     } 
     @if (Rights.IndexOf(",Y18,") >= 0)
     {
    <input class="btn" type="button" id="CX"  value="撤销"/> 
         }
    <input class="btn" type="button" id="XZ"  value="下载"/> 
    <input class="btn" type="button" id="TJSP"  value="提交审批"/> 
    </div>

        <div id="bor" style="width:100%;margin-top:3px;margin-left:10px;">
        <table id="list" class="scroll" style="width:100%;"></table> 
        <div id="pager" class="scroll" style="text-align:center;width:100%;"></div>
        </div>

       
    </div>
    }
</body>
</html>
