@using TECOCITY_BGOI;
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN">
    <title>BasicStockIn</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PP/ProjectPP/ChengPin.js")" type="text/javascript"></script>
    <style>
        .ui-jqgrid tr.jqgrow td {
            white-space: normal !important;
            height: auto;
            vertical-align: text-top;
            padding-top: 2px;
        }
    </style>
</head>
<body>
    <div id="pageContent">
        选择成品&nbsp;&nbsp;&nbsp; @Html.DropDownList("chengpin", PPManage.SelectKCs(), new { @class = "txtCss"})
        <input class="btn" type="button" id="select" value="查询" />
        <div id="bor" style="width:100%;margin-top:5px;margin-left:10px;">
            <table id="list" class="scroll" style="width:100%;"></table>
            <div id="pager" class="scroll" style="text-align:center;width:100%;"></div>
        </div>
        <div style=" margin-left:890px;margin-top:20px;">
            <input class="btn" type="button" id="btnSave" value="确定" />
        </div>
    </div>
</body>
