@{
    ViewBag.Title = "";
}

@{
    Layout = null;
}
@using TECOCITY_BGOI;
@model  PP_ReturnGoods

<html>
<head>
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>ScrapManagementOut</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Inventory/AddStockIn.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cmm_ClassControl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/PP/ProjectPP/ReturnGoods.js")" type="text/javascript"></script>

</head>

<body>
    <form>
        <div id="createAll" style="background-color: #ffffff; width: 100%; ">
            <div id="biaoti">
                <h1 class="title">新建退货单</h1>
            </div>
            <div id="biaoti1" style="display:none">
                <h1 class="title">修改退货单</h1>
            </div>
            <div id="danhao" class="PPtitle">
                <span style="margin-left:10px;">退货单号：@Model.THID</span>@Html.HiddenFor(model => model.THID)
            </div>
            <div>
                <table table border="0" cellpadding="0" cellspacing="0" width="98%" class="tabInfo">
                    <tr>
                        <td>
                            <input type="button" id="select" class="btn" name="btnSel" value="选择收货单" onclick="AddNewDD()" />
                        </td>
                    </tr>
                    <tr>
                        <td class="textright" colspan="3">
                            退货日期 <input type="text" id="Begin" onclick="WdatePicker()" class="Wdate" style="width:170px;" /><span style="color: red;">*</span>
                        </td>
                    </tr>

                </table>
            </div>
        </div>
        <table cellpadding="0" cellspacing="0" class="tabInfo">
            <tr class="PPtr">
                <td colspan="4">   退货物品</td>
            </tr>
            <tr>

                <td>
                    <div style="overflow-y: scroll;max-height:200px;">
                        <table id="myTable" cellpadding="0" cellspacing="0" class="tabInfo">
                            <tr align="center" valign="middle">
                                <th  class="th">
                                    序号
                                </th>
                                <th  class="th">
                                    物品名称
                                </th>
                                <th  class="th">
                                    规格型号
                                </th>
                                <th  class="th">
                                    物料编码
                                </th>
                                <th  class="th">
                                    单位
                                </th>
                                @*<th style="width: 5%;" class="th">
                                    数量
                                </th>*@
                                <th  class="th">
                                    供应商
                                </th>
                                <th  class="th">
                                    单价
                                </th>
                                <th  class="th">
                                    总金额
                                </th>
                                <th  class="th">
                                    总数量
                                </th>
                                <th  class="th">
                                    已退货数量
                                </th>
                                <th  class="th">
                                    退货数量
                                </th>
                            </tr>

                            <tbody id="GXInfo"></tbody>
                        </table>
                    </div>
                </td>
            </tr>


        </table>
        <div style="width: 100%; height: 120px;">
            <table cellpadding="0" cellspacing="0" class="tabInfo" style="margin-top:5px;">
                <tr class="PPtr">
                    <td colspan="4">   收货说明</td>
                </tr>
                <tr>
                    <td>
                        退货类型
                        @*@Html.TextBox("ReturnType", "", new { @class = "txtCss" })*@
                        @Html.DropDownList("ReturnType", PPManage.GetTypeID("and [type]='退货类型'"), new { @class = "txtCss" })<span style="color: red;">*</span>
                    </td>
                    <td>
                        退货方式
                        @*@Html.TextBox("ReturnMode", "", new { @class = "txtCss" })*@
                        @Html.DropDownList("ReturnMode", PPManage.GetTypeID("and [type]='退货方式'"), new { @class = "txtCss" })<span style="color: red;">*</span>
                    </td>
                  
                </tr>
                <tr>
                    <td>
                        退货约定
                        @Html.TextBox("ReturnAgreement", "", new { @class = "txtCss" })
                    </td>
                    <td>
                        所属项目
                        @Html.TextBox("TheProject", "", new { @class = "txtCss" })
                    </td>
                  
                </tr>
                <tr>
            
                    <td colspan="3">  退货说明
                        @Html.TextAreaFor(model => model.ReturnDescription, new { @class = "txtCss", style = "width:90%;" })
                        @*@Html.TextBox("ReturnDescription", "", new { @class = "txtCss" })*@
                    </td>
                </tr>
            </table>
                <div style="width: 100%; margin-top:20px; height: 30px;">
                    <table cellpadding="0" cellspacing="0" class="tabInfo"></table>
                </div>
            </div>
    
        <div style="width: 100%; height: 70px;">
            <table cellpadding="0" cellspacing="0" class="tabInfo" style="margin-top:5px;">
                <tr class="PPtr">
                    <td colspan="4">   收货人说明</td>
                </tr>
                <tr>
                    <td class="textleft">
                        请购人
                    </td>
                    <td class="textright" colspan="3">
                        @Html.TextBox("OrderContacts", GAccount.GetAccountInfo().UserName, new { @class = "txtCss" })
                        @*@Html.DropDownList("OrderContacts", PPManage.GetUserId(), new { @class = "txtCss" })*@
                    </td>
                </tr>

            </table>
        </div>

        <div style="width: 98%; margin-right: 10px; height: 36px; text-align: right;margin-top:10px;">
            <input id="btnSubmit" type="button" class="btn" onclick="AddTH()" value="保存" />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>
    </form>
</body>
</html>
