@{
    Layout = null;
}

@using TECOCITY_BGOI
@model tk_SHInstallR
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddProductReport</title>

    <link href="@Url.Content("~/CSS/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/ui.jqgrid.css")" rel="stylesheet" type="text/css" />

    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Sales/RecordInfo.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"  type="text/javascript"></script>
    @*    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>*@

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cmm_Tables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cmm_ClassControl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CustomerServiceManage/AddProductReport.js")" type="text/javascript"></script>

</head>
<body>
    <form>
        <div id="tabTitile"><span style="margin-left: 10px; float: left;">编号：@Model.BZID</span></div>@Html.HiddenFor(model => Model.BZID)
        <div style="width: 800px; height: 20px; float: left;" id="shijian">
            <span style="margin-left: 480px; float: left;">登录日期:</span><div id="localtime" style="float: right;"></div>
        </div>
        <br />
        <div style="height: 450px; overflow-y: auto; text-align: left;">
            <table class="tabInfo" style="width: 99%; margin-left: 8px; margin-top: 10px;">
                <tr style="text-align: center; font: bold; margin-top: 20px; font-size: 24px;">
                    <td colspan="4" id="bzdj">报装登记</td>
                    <td colspan="4" style="display: none" id="pgd">派工单</td>
                </tr>
                <tr id="idbh" style="display: none">
                    <td colspan="4">关联编号 @Html.TextBox("TRID", "", new { @class = "txtCss", @readonly = "true" })
                    </td>
                </tr>
                <tr style="background-color: #88c9e9; text-align: left;">
                    <td colspan="4" style="display: none" id="pgd1">调试信息</td>
                    <td colspan="4" id="bzdj1">报装信息</td>
                </tr>
                @*  <tr>
                    <td class="textLeft">客户名称 </td>
                    <td>@Html.DropDownListFor(model => model.CustomerName, CustomerServiceMan.GetKClientBas(), new { @class = "txtCss", @onchange = "GaiBian()" })</td>
                    <td class="textLeft">联系电话:</td>
                    <td>@Html.TextBox("Tel", "", new { @class = "txtCss", @readonly = "true" })@Html.ValidationMessageFor(model => model.Tel)
                    </td>
                </tr>*@
                <tr>
                    <td class="textLeft">用户姓名</td>
                    <td class="textRight">@Html.TextBox("CustomerName", "", new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.CustomerName)</td>
                    <td class="textLeft">联系电话</td>
                    <td class="textRight">@Html.TextBox("Tel", "", new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.Tel)</td>
                </tr>
                <tr>
                    <td class="textLeft">地址</td>
                    <td class="textRight" colspan="3">@Html.TextBox("Address", "", new { @class = "txtCss", @style = "width: 675px;" })@Html.ValidationMessageFor(model => model.Address)</td>
                </tr>
                <tr>
                    <td class="textLeft" id="bzdj2">报装日期</td>
                    <td class="textLeft" style="display: none" id="pgd2">调试日期</td>
                    <td class="textRight">
                        @Html.TextBox("InstallTime", ViewData["InstallTime"], new { onclick = "WdatePicker()", @class = "txtCss" })
                 @*       <input type="text" id="InstallTime" onclick="WdatePicker()" class="Wdate" style="width: 170px;" />*@</td>
                    <td class="textLeft">分公司 </td>
                    <td class="textRight">@Html.DropDownListFor(model => model.BZCompany, CustomerServiceMan.GetCompany(), new { @class = "txtCss" })</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input type="button" class="btn" onclick="CheckDetail();" style="display: none" value="添加"
                            id="btnAdd" name="btnAdd" />

                        <input type="button" class="btn" onclick="addKonghang();" value="添加"
                            id="btnAdd1" name="btnAdd1" />&nbsp;
                        <div style="overflow-y: scroll;">
                            <table id="myTable" cellpadding="0" cellspacing="0" class="tabInfo">
                                <tr align="center" valign="middle">
                                    <th style="width: 5%;" class="th">序号
                                    </th>
                                    <th style="width: 10%;" class="th">产品编号
                                    </th>
                                    <th style="width: 10%;" class="th">产品名称
                                    </th>
                                    <th style="width: 10%;" class="th">规格型号
                                    </th>
                                    <th style="width: 5%;" class="th">单位
                                    </th>
                                    <th style="width: 5%;" class="th">数量
                                    </th>
                                    <th style="width: 5%;" class="th">单价
                                    </th>
                                    <th style="width: 10%;" class="th">安装价格
                                    </th>
                                    <th style="width: 10%;" class="th">销售渠道
                                    </th>
                                    <th style="width: 15%;" class="th">是否待收款
                                    </th>
                                    <th style="width: 10%;" class="th">操作
                                    </th>
                                </tr>
                                <tbody id="DetailInfo"></tbody>
                            </table>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td colspan="4" id="bxk" style="display: none">
                        <div style="overflow-y: scroll;">
                            <table id="myTable1" cellpadding="0" cellspacing="0" class="tabInfo">
                                <tr align="center" valign="middle">
                                    <th style="width: 5%;" class="th">序号
                                    </th>
                                    <th style="width: 10%;" class="th">产品名称
                                    </th>
                                    <th style="width: 20%;" class="th">保修卡编号
                                    </th>
                                </tr>
                                <tbody id="DetailInfoi"></tbody>
                            </table>
                        </div>

                    </td>
                </tr>
                <tr></tr>

            </table>
            <table class="tabInfo" style="width: 99%; margin-left: 8px; margin-top: 10px;" id="bzpg">
                <tr style="background-color: #88c9e9; text-align: left;">

                    <td colspan="4">报装派工</td>
                </tr>
                <tr>
                    <td class="textLeft">出库二级库房</td>
                    <td class="textRight" colspan="3">@Html.DropDownListFor(model => model.WarehouseTwo, CustomerServiceMan.GetTwoWareHouse(), new { @class = "txtCss" })</td>

                </tr>
                <tr>
                    <td class="textLeft">是否一级库调拨</td>
                    <td>
                        <input type="radio" name="IsWhether" value="0" onclick="IsWhetherO()" checked="checked" />是
                        <input type="radio" name="IsWhether" value="1" onclick="IsWhetherO()" />否
                  @*   @Html.RadioButton("IsWhether", "0", new { @checked = true  })是 
                     @Html.RadioButton("IsWhether", "1")否  *@
                    </td>
                    <td class="textLeft" id="OneHouse">一级库调拨</td>
                    <td class="textRight">@Html.DropDownListFor(model => model.WarehouseOne, CustomerServiceMan.GetOneWareHouse(), new { @class = "txtCss" })</td>
                </tr>
            </table>
            <table class="tabInfo" style="width: 99%; margin-left: 8px; margin-top: 10px;">
                <tr style="background-color: #88c9e9; text-align: left;">

                    <td colspan="4">其他信息</td>
                </tr>
                @* <tr>
                    <td class="textLeft">备注</td>
                    <td class="textRight" colspan="3">@Html.TextAreaFor(model => model.Remark, new { @class = "txtCss", @style = "width:720px;height:50px;" })@Html.ValidationMessageFor(model => model.Remark)</td>
                </tr>*@
                <tr>
                    <td class="textLeft">备注</td>
                    <td class="textRight" colspan="3">@Html.TextAreaFor(model => model.Remark, new { @class = "txtCss", @style = "width:720px;height:50px;" })@Html.ValidationMessageFor(model => model.Remark)</td>
                </tr>
                <tr>
                    <td class="textLeft">登记人</td>
                    <td class="textRight" colspan="3">@Html.TextBoxFor(model => model.CreateUser, new { @class = "txtCss", @readonly = "true" })</td>
                </tr>
                <tr id="pgry" style="display: none">
                    <td class="textLeft">派工人员</td>
                    <td class="textRight" colspan="3">@Html.TextBoxFor(model => model.DiPer, new { @class = "txtCss" })</td>
                </tr>
            </table>

            <input type="text" id="DID" style="display: none;" />
        </div>
        <div style="margin-top: 10px; margin-left: 75%;">

            <input class="btn" type="button" id="btnSave" value="保存" />
            <input class="btn" type="button" id="Cancel" value="取消" />
        </div>
    </form>
</body>
</html>
