@{
    Layout = null;
}

@using TECOCITY_BGOI
@model tk_SHReturnVisit
<!DOCTYPE html>

<html>
<head>
   @* <meta name="viewport" content="width=device-width" />*@
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Cache-Control" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    <title>AddUserVisit</title>
    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/Sales/RecordInfo.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery_dialog.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.7.1.min.js")"  type="text/javascript"></script>
@*    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/Validate/Validate-Injection.js")" type="text/javascript"></script>*@

    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.jqGrid.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cmm_Tables.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cmm_ClassControl.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/My97DatePicker/WdatePicker.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CustomerServiceManage/AddUserVisit.js")" type="text/javascript"></script>

</head>
<body>
    <form>
        <div id="tabTitile"><span style="margin-left: 10px; float: left;">编号：@Model.HFID</span></div>@Html.HiddenFor(model => Model.HFID)
         <div style="width:800px;height:20px;float: left;" id="shijian">
            <span style="margin-left: 480px; float: left;">登录日期:</span><div id="localtime" style="float: right;"></div>
        </div>
        <br />
        <div style="height: 380px; overflow-y: auto; text-align: left;">
            <table class="tabInfo" style="width: 99%; margin-left: 8px; margin-top: 10px;">
                <tr style="text-align: center; font: bold; margin-top: 20px; font-size: 24px;">
                    <td colspan="4">回访登记</td>
                </tr>
                <tr style="background-color: #88c9e9; text-align: left;">

                    <td colspan="4">回访信息</td>
                </tr>
                <tr>
                    <td class="textLeft">编号</td>
                    <td class="textRight" colspan="3">@Html.TextBox("RecordID", "", new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.RecordID)</td>
                </tr>
                <tr>
                    <td colspan="4">
                        <input type="button" class="btn" onclick="CheckDetail();" style="display:none" value="添加"
                            id="btnAdd" name="btnAdd" />

                        <input type="button" class="btn" onclick="addKonghang();" value="添加"
                            id="btnAdd1" name="btnAdd1" />&nbsp;
                        <div style="overflow-y: scroll;">
                            <table id="myTable" cellpadding="0" cellspacing="0" class="tabInfo">
                                <tr align="center" valign="middle" style="background-color: #88c9e9;">
                                    <th style="width: 5%;" class="th">序号
                                    </th>
                                    <th style="width: 10%;" class="th">产品编号
                                    </th>
                                    <th style="width: 10%;" class="th">产品名称
                                    </th>
                                    <th style="width: 20%;" class="th">规格型号
                                    </th>
                                    <th style="width: 5%;" class="th">单位
                                    </th>
                                    <th style="width: 5%;" class="th">数量
                                    </th>
                                    <th style="width: 5%;" class="th">单价
                                    </th>
                                    <th style="width: 15%;" class="th">安装价格
                                    </th>
                                    <th style="width: 10%;" class="th">操作
                                    </th>
                                </tr>
                                <tbody id="DetailInfo"></tbody>
                            </table>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="textLeft">联系人</td>
                    <td>@Html.TextBox("ContactPerson", "", new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.ContactPerson)</td>
                    <td class="textLeft">电话</td>
                    <td>@Html.TextBox("Tel", "", new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.Tel)</td>
                </tr>
                @* <tr>
                    <td class="textLeft" colspan="2">用户情况简述</td>
                    <td colspan="2">@Html.TextBox("UserInformation", "", new { @class = "txtCss", @style = "width: 550px;" })@Html.ValidationMessageFor(model => model.UserInformation)</td>
                </tr>*@
                <tr>
                    <td class="textLeft">用户情况简述</td>
                    <td class="textRight" colspan="3">@Html.TextAreaFor(model => model.UserInformation, new { @class = "txtCss", @style = "width:720px;height:50px;" })@Html.ValidationMessageFor(model => model.UserInformation)</td>
                </tr>
                <tr>
                    <td class="textLeft" colspan="2">对此次服务满意度：</td>
                    <td colspan="2">
                        @Html.RadioButton("SatisfiedDegree", "0", new { @checked = true })非常满意  
                     @Html.RadioButton("SatisfiedDegree", "1")满意
                     @Html.RadioButton("SatisfiedDegree", "2")一般  
                     @Html.RadioButton("SatisfiedDegree", "3")不满意
                    </td>
                </tr>
                @*  <tr>
                    <td class="textLeft" colspan="2">备注</td>
                    <td colspan="2">@Html.TextBox("Remark", "", new { @class = "txtCss", @style = "width: 550px;" })@Html.ValidationMessageFor(model => model.Remark)</td>
                </tr>*@
                <tr>
                    <td class="textLeft">备注</td>
                    <td class="textRight" colspan="3">@Html.TextAreaFor(model => model.Remark, new { @class = "txtCss", @style = "width:720px;height:50px;" })@Html.ValidationMessageFor(model => model.Remark)</td>
                </tr>
                <tr>
                    <td class="textLeft" colspan="2">回访人</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.ReturnVisit, new { @class = "txtCss" })@Html.ValidationMessageFor(model => model.ReturnVisit)</td>

                </tr>
                <tr>
                    <td class="textLeft" colspan="2">登记人</td>
                    <td colspan="2">@Html.TextBoxFor(model => model.CreateUser, new { @class = "txtCss", @readonly = "true" })</td>
                </tr>
            </table>
        </div>
        <div style="margin-top: 5px; margin-left: 75%;">
            
            <input class="btn" type="button" id="btnSave" value="保存" />
            <input class="btn" type="button" id="Cancel" value="取消" />
            <input type="text" id="DID" style="display: none;" />
        </div>
    </form>
</body>
</html>
