@{
    Layout = null;
}
@using TECOCITY_BGOI;
@model tk_BillingRecords
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>PrintBillingRecords</title>

    <link href="@Url.Content("~/CSS/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/CSS/jquery-ui-1.10.2.custom.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
    <link href="@Url.Content("~/CSS/Print.css")" rel="stylesheet" type="text/css" />
    <script src="@Url.Content("~/Scripts/jquery.form.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery_dialog.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/grid.locale-cn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/cmm_PrintPageSet.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/CustomerServiceManage/PrintBillingRecords.js")" type="text/javascript"></script>
</head>
<body style="margin: 0 0 0 0; background-color: white; overflow: auto;">
    <div id="ReportContent" style="margin-top: 10px; page-break-after: always;">
        <div style="width: 100%; text-align: center; font-size: 18px;">北京市燕山工业燃气设备有限公司</div>
        <div style="font-size: 22px; font-weight: bold; float: left; margin-left: 45%;">开票记录</div>
        <table id="search" class="tabInfo2">
            <tr>
                <td>编号</td>
                <td>时间</td>
                <td>单位名称</td>
                <td>项目</td>
                <td>金额</td>
                <td>负责人</td>
                <td>收款日期</td>
                <td>支付方式</td>
            </tr>
             <tr>
                <td>@Model.BRDID</td>
                <td>@ViewData["BRDTime"]</td>
                <td>@Model.DwName</td>
                <td>@Model.Project</td>
                <td>@Model.Amount</td>
                <td>@Model.PersonCharge</td>
                <td>@ViewData["ReceivablesTime"]</td>
                  <td>@Model.PaymentMethod</td>
            </tr>
            <tr style="height: 50px;">
                <td>备注</td>
                <td colspan="9" style="text-align: left;">@Model.Remark</td>
            </tr>
            <tr style="height: 30px;" id="jc">
                <td>签字</td>
                <td></td>
                <td>联系电话</td>
                <td style="text-align: left;"></td>
                <td>日期</td>
                <td colspan="5" style="text-align: left;"></td>
            </tr>
        </table>
        <div style="text-align: right; margin-top: 5px; width: 99%;" id="dayin">
            <input type="button" id="btnPrint" value="打 印"  class="btn" />
        </div>
    </div>


    @*</div>*@
</body>
</html>
